@media (min-width:1200px) and (max-width:1299px){
.radio_bts .turnover{
	width:80%;
}
}

@media(max-width: 767px){
.attachments .left-op {
    margin-bottom: 10px;
}
.leads-section {
    padding: 15px;
}
.leads-search1 input{
	width: 100%;
}
.leads-section .management_section {
    padding: 5px;
}
.switch-list01 .pull-right, .switch-list01 .pull-left{
	text-align: center;
	float: none;
}
.junk-lead{
	width: 50%;
}
.news-leads a{
	margin-bottom: 5px;
}
.new-row-data1 {
    padding: 15px 0;
}.header-navbar {
    padding-bottom: 0;
}
}

@media(min-width: 768px )and (max-width: 1023px){
.leads-search1 input{
	width: 250px;
}
.junk-lead{
	width: 33.333%;
}
.source-set1{
	width: 100%;
}
.source-set1:last-child{
	margin-top: 7px;
}
}



@media(min-width: 1600px){
.management_section .card-block.accordion-block {
    width: 100%;
}
.addnewclient_pages1 {
    margin-bottom: 0;
}
.management_accordion{
	text-align: center;
}

.management_section .accordion-panel {
    width: 33.333%;
    float: left;
    padding: 10px 15px;
}
.basic-width-crm {
    width: 80%;
    margin: 0 auto;
}
#insert_form #required_information, #insert_form #basic_details{
    margin-top: -21px;
}
#insert_form.modal-addnew1 #required_information, #insert_form.modal-addnew1 #basic_details {
    margin-top: 0;
}
.email-innersec{
    width: calc(100% / 7);
}
.info-field .panel.panel-default,.sep-div,.grid-sizer{
    width: 33.3333%;
}
.column_setting_new_9 .left-primary {
    width: 49%;
    display: inline-block;
    text-align: left;
}
.basic-width-permis,.new-task {
    width: 50%;
    /*margin: 0 auto;*/
}
.billable-task1,.update-dept01{
    width: 40%;
}
}

/*22-03-2018*/
@media(min-width: 1600px){
#assignto .main-pane-border03{
  margin-top: -14px;
}
.manage-border013 {
    margin-top: -8px;
}
.right-sidecontent,.left-side-proposal{
    width: 78%;
}
.tab-leftside,.right-side-proposal{
    width: 22%;
}
.search-vat1,.company-search1 {
    width: 50%;
}
.search-vat1 input {
    width: 94%;
}
.vat-shipping input, .vat-shipping select{
    width: 74%;
}
.width-junk {
    width: 25%;
    float: left;
}

}