.comboTreeWrapper {
    position: relative;
    text-align: left !important;
}

.comboTreeInputWrapper {
    position: relative;
}

.comboTreeArrowBtn {
    position: absolute;
    right: 1px;
    bottom: 1px;
    top: 1px;
    box-sizing: border-box;
    border: none;
    border-left: 1px solid #c7c7c7;
    border-radius: 0 3px 3px 0;
}

.comboTreeDropDownContainer {
    display: none;
    background: #fff;
    /*border: 1px solid #aaa;*/
    max-height: 250px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
    border: none;
    padding: 8px;
}

.comboTreeDropDownContainer ul {
    padding: 0px;
    margin: 0;
}

.comboTreeDropDownContainer li {
    list-style-type: none;
    padding-left: 15px;
    cursor: pointer;
}

.comboTreeDropDownContainer li:hover {
    background-color: #ddd;
}

.comboTreeDropDownContainer li:hover ul {
    background-color: #fff;
}

.comboTreeDropDownContainer li span.comboTreeItemTitle.comboTreeItemHover {
    background-color: #418EFF;
    color: #fff;
}

span.comboTreeItemTitle {
    display: block;
    padding: 6px 5px;
}

.comboTreeDropDownContainer label {
    cursor: pointer;
    width: 100%;
    display: block;
}

.comboTreeDropDownContainer .comboTreeItemTitle input {
    position: relative;
    top: 2px;
    margin: 0px 4px 0px 0px;
}

.comboTreeParentPlus {
    position: relative;
    left: -12px;
    top: 4px;
    width: 4px;
    float: left;
}

.comboTreeInputBox {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #999;
    width: 100%;
    box-sizing: border-box;
    padding-right: 24px;
}

.comboTreeArrowBtnImg {
    font-size: 10px;
}


/*vishnu start*/

.comboTreeWrapper {
    padding: 0 15px;
    width: 410px;
}

.comboTreeDropDownContainer .comboTreeItemTitle input {
    width: initial;
}

.comboTreeDropDownContainer {
    width: 380px;
}

.comboTreeInputWrapper input.comboTreeInputBox {
    background-image: url(../images/new_update1.png) !important;
    background-repeat: no-repeat !important;
    background-size: 10px 6px !important;
    background-position: right 10px center !important;
    -webkit-appearance: none;
    padding-right: 30px;
}

.comboTreeArrowBtn {
    display: none;
}

.comboTreeDropDownContainer label.custom_checkbox1 {
    width: initial;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}

.ComboTreeItemParent>span.comboTreeItemTitle {
    font-weight: 600;
}

ul li .ComboTreeItemParent>span.comboTreeItemTitle {
    font-weight: normal;
}



/* width */
.comboTreeDropDownContainer::-webkit-scrollbar {
  width: 10px!important;
}

/* Track */
.comboTreeDropDownContainer::-webkit-scrollbar-track {
  background: #f1f1f1!important;
}

/* Handle */
.comboTreeDropDownContainer::-webkit-scrollbar-thumb {
  background: #888!important;
}

/* Handle on hover */
.comboTreeDropDownContainer::-webkit-scrollbar-thumb:hover {
  background: #555!important;
}
