body{
    word-wrap: break-word;
}
input.btn-primary {
    font-weight: 600;
}
a{
    font-size: 13px;
}
table.dataTable.nowrap tfoot th {
    height: 20px;
}
.checkbox-color label::before{
    margin-left: 0;
}
.checkbox-color label {
    display:inline-block;
    position: relative;
    padding-left: 25px;
    line-height: 20px;
}
.card{
    font-family: "Open Sans", sans-serif;
}
i.fa.fa-comments{
    font-size: 17px;
}
.fa-comments {
    color: #ffc90e;
    font-size: 17px;
}
.dataTables_wrapper  table td select {
    padding: 7px 10px;
    height: initial;
    line-height: 15px;
    min-width: 100px;
}
.modal-dialog {
    max-width: 500px;
    margin: 30px auto;
    border-radius: 6px;
    background: #fff;
}
.table thead th, .table tbody td {
    border: none;
}
a.btn.btn-primary {
    padding: 7px 12px;
}
.text-info {
    color: #000 !important;
}
a:hover {
    cursor: pointer !important;
}
  /*.selectnew-invoice {
    float: left;
    width: calc(100% - 60px);
    text-align: right;
  }*/
.modal-open .modal{
    overflow: initial;
}

.table thead th {
    vertical-align: middle;
}
.report-redesign2 .left-sireport .card-block{
    min-height: 300px;
}
table thead th {
    height: 54px;
}
tfoot th {
    height: 14px;
    box-sizing: border-box;
}
body {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.radio.radiofill input:checked ~ .helper::after {
     transform: scale(0.5); 
}
.newinvoice-btn {
    display: inline-block;
}
.ui-datepicker {
    z-index: 44 !important;
}
/*#myReminders .form-group.row .col-sm-8 span.switchery.switchery-small:last-child {
    display: none;
}*/
.card.firm-field.gen-invoicepdf {
    width: 900px;
    margin: 0 auto;
    background: #fff;
}
.card.firm-field span.pro-head {
    border: none;
    padding: 0;
    margin: 0;
}
.proposal-commontab .tab-content a.nav-link {
    padding: 10px 5px;
}
.proposal-commontab .tab-content li.nav-item {
    margin: 0 5px;
    position: relative;
    border-right: 1px solid #ccc;
    width: 150px;
}
.proposal-commontab .tab-content li.nav-item:last-child {
    border-right: none;
}/*
.proposal-commontab .tab-content .nav-link.active
{
    background: #F5F5F5;
}*/
.inner-tab a.nav-link {
    font-size: 48px !important;
    font-weight: 600;
}
   .card.firm-field {
       padding: 30px;
   }
 
.invoice-topinner {
    float: left;
    width: 230px;
    margin: 7px 0;
    padding:  0 7px;
   }
span.preview-pdf {
    float: right;
    display: inline-block;
    height: initial;
    vertical-align: middle;
    /* line-height: 60px; */
    color: #303549;
    font-size: 14px;
    margin-top: 22px;
}
   .invoice-top {
    float: left;
    width: 100%;
   }
   .amounts-detail {
    float: right;
    width: auto;
    padding-top: 30px;
   }

.amounts-detail label,.add-plus12 span{
    font-size: 13px;
    margin-right: 5px;
    font-weight: 600;
}
   .invoice-table table {
    width: 100%;
}
   td i.fa.fa-times:hover {
    color: red;
    transition: color 0.5s ease;
    cursor: pointer;
   }
   .add-newline input {
    /*background: #0956ff !important;*/
    color: #fff;
    border: none;
    text-transform: capitalize;
    /*font-size: 14px;*/
    margin-top: 20px;
    /*padding: 5px 10px;*/
   }
   .add-newline {
    display: inline-block;
   }
  /* .sub-tot_table {
    float: right;
    display: inline-block;
    width:35%;
   }*/

   tr.grand-total {
    border-top: 2px solid #ccc !important;
    border-bottom: 2px solid #ccc !important;
   }
 
 
   .table-savebtn {
    display: inline-block;
   }
   .approve-btn {
    display: inline-block;
   }
   .invoice-table
   {
      padding-left: 0;
   }

   .date-col {
    width: 30px;
    padding: 5px;
    padding-left: 5px !important;
    margin-right: 5px;
    border: 1px solid #ccc;
   }
span.invoice-topinner select {
    background: transparent;
    border: 1px solid #ccc;
    padding: 6px 10px;
    display: inline-block;
    line-height: 19px;
}
  .invoice-topinner strong {
    text-transform: capitalize;
    display: inline-block;
    padding-right: 10px;
  }
  .invoice-details.repeat-invoice span.invoice-topinner {
    max-width: 280px;
  }
  .radio-option {
    float: left;
    width: auto;
  }
  .invoice-option input.in-option {
    vertical-align: middle;
    margin: 0 3px 0 5px;
  }
  .invoice-option label {
    font-size: 14px;
    text-transform: capitalize;
  }
  .invoice-option {
    display: inline-block;
    padding-right: 8px;
  }
  .reinvoice-date {
    float: left;
    width: 100%;
    /*padding-top: 30px;*/
  }
  .invoice-top {
    padding: 15px;
  }
  .invoice-ref {
    float: left;
    width: 100%;
    padding-top: 4px;
  }

  .update-logo input[type="file"] {
    border: none;
    height: 250px;
    width: 100%;
    position: relative;
}
.card.propose-template {
    background: transparent;
    box-shadow: none;
}
/*.card.propose-template .count-value1.pull-right button {
    background: #4680ff;
    color: #fff;
    border: none;
    text-transform: capitalize;
    font-size: 13px;

}
.card.propose-template .count-value1.pull-right button i.fa.fa-trash.fa-6 {
    font-size: 14px;
    padding-right: 6px;
}/**/ 
.card.propose-template ul.nav.nav-tabs.all_user1.md-tabs.pull-left.u-dashboard li.nav-item {
    font-size: 14px;
    color: #777777;
    margin-top: 5px;
}

 
.track-drop {
    float: left;
    width: 100%;
    padding: 15px 15px 0;
}
.track-drop .editor {
    width: 70%;
    float: left;
    margin-right: 0;
    padding-right: 25px;
}
.track-drop .contacts {
    width: 30%;
    float: left;
}
ul#contactList {
    border: 1px solid #ccc;
}
.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification {
    height: 300px;
    overflow: auto;
}

.create-proposal {
    float: right;
    margin-top: 5px !important;
    height: 24px;
}/*
a.create-proposalbtn {
    background: #4680ff;
    color: #fff;
    padding: 7px 10px 7px !important;
    height: auto;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}*/
.year-status {
    display: block;
    padding: 15px 0;
}
span.lt-year {
    display: inline-block;
    font-size: 19px;
    text-transform: capitalize;
    font-weight: 600;
}
ul.status-list {
    display: inline-block;
    padding-left: 15px;
}
ul.status-list li {
    display: inline-block;
    padding: 0 5px;
    font-size: 14px;
    text-transform: capitalize;
    position: relative;
}
ul.status-list li:after {
    position: absolute;
    width: 1px;
    content: "";
    background: #333;
    height: 15px;
    right: 0;
    top: 4px;
}
.inner-tab li.nav-item {
    display: inline-block;
    width: calc(100% / 6.10);
}
.inner-tab .nav-tabs .slide {
    background: transparent;
}
.inner-tab a.nav-link {
    font-size: 60px !important;
    font-weight: 600;
}
.inner-tab ul.nav.nav-tabs.md-tabs.floating_set {
    border: 1px solid #ccc;
}
.inner-tab {
    margin-top: 30px;
}

/* 19 Jan */

.inner-tab .slide {
    position: unset;
}
.inner-tab .slide {
    font-size: 21px;
    position: unset;
    height: auto;
    width: auto;
}
span.value-text {
    font-size: 13px;
    text-transform: capitalize !important;
    display: inline-block;
    vertical-align: text-top;
    background: #FFB424;
    padding: 5px 8px 1px;
    border-radius: 4px;
    color: #fff;
    font-family: Verdana,Arial,sans-serif !important
}
span.value-text.v1 {
    background: #00B2F2;
}
span.value-text.v2 {
    background: #F20094;
}
span.value-text.v3 {
    background: #A9CA42;
}
span.value-text.v4 {
    background: #F01C22;
}
span.value-text.v5 {
    background: #BD44EF;
}
ul.status-list li:last-child:after {
    display: none;
}
.table-responsive.proposal-info table {
    width: 100%;
}
span.info-num {
    background: #328cc0;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 50px;
    padding: 5px 6px;
    line-height: 17px;
}
.info-num + p {
    display: inline;
    color: #437CA6;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
}
a.edit-option {
    color: #A09F9E;
    padding: 0 5px 0 0px;
    cursor: pointer;
    font-weight: normal;
}
p.com-name {
    margin: 0;
    padding-top: 5px;
    font-size: 13px;
    text-transform: uppercase;

}
p.com-name a {
  border-bottom: 0px solid;
    display: inline-block;
    font-size: 13px;
    margin-right: 10px;
    line-height: 19px;
}
.table-header th {
    color: #939CA7;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 14px;
    padding: 10px;
}
.table-responsive.proposal-info {
    margin-top: 10px;
}
span.tax-inner {
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
}
.proposal-info td {
    padding: 10px;
}
span.amount i.fa.fa-gbp {
    padding-right: 5px;
}
.acc-tax p {
    font-size: 13px;
    display: block;
    line-height: 17px;
    text-transform: capitalize;
}
span.sent-month {
    font-size: 13px;
}
td i.fa.fa-check {
    color: #2DB538;
    font-size: 15px;
    display: block;
    padding-left: 10px;
}
span.accept {
    color: #868585;
    font-size: 13px;
    padding-left: 10px;
}
.proposal-info tr {
    border-bottom: 10px solid transparent;
}
tr.table-header
{
  border-bottom: none;
}
span.amount {
    font-size: 14px;
    font-weight: 600;
}

/* 02 April */

#newactive .nav-tabs.tabs-left .slide {
    height: 39px;
    width: 4px;
    bottom: 0;
}
div#newactive li.nav-item {
    border: none;
}
.p-leftsidebar {
    float: left;
    width: 20%;
        padding: 15px;
    border: 1px solid #eee;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
}
/*.filter-option {
    padding: 15px 0;
}
.filter-option h6 {
    text-transform: capitalize;
}*/
/*.filter-option select {
    width: 180px;
}*/
#newactive .tabs-left
{
  min-width: 100%;
  width: 180px;
}
/*.filter-option {
    padding: 15px 0;
}
.filter-option h6 {
    text-transform: capitalize;
}
.filter-option select {
    width: 180px;
    background: #fff;
}*/

span.sent-proposalcount {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-top: 11px;
    font-size: 16px;
}
span.sent-left {
    display: inline-block !important;
}

.counts {
    display: inline-block !important;
    float: right;
    background: #0069d9;
    color: #fff;
    padding: 2px 8px 1px;
    border-radius: 15px;
}
/*.filter-byauth {
    padding: 15px;
    background: #eee;
}
.filter-byauth h5 {
    font-size: 13px;
    padding: 0 0 10px;
}
.filter-byauth select {
    width: 100%;
    background: #fff;
}*/

#start_tab .table-responsive
{
  width: auto !important;
}

 

#display_service4_wrapper th, .commonctab th {
    color: #000;
    text-transform: uppercase;
}
.temp-parts img {
    box-shadow:0 5px 5px -5px rgba(0,0,0,0.4), 5px 0 5px -5px rgba(0,0,0,0.4);
    display: block;
    margin: 10px auto;
    border: 1px solid #ccc;
}
.temp-parts {
    float: left;
    width: 20%;
    text-align: center;
    padding: 10px;
}
.temp-title {
    font-size: 14px;
    min-height: