.fixed-tx1 {
    display: inline-block;
    vertical-align: top;
}

.fixed-tx1 a {
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    background: #22b14c;
    padding: 7px 10px;
    border-radius: 50px;
    vertical-align: top;
    display: inline-block;
    margin-right: 13px;
}

.profilepagecls li.nav-item.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab {
    border: 0px solid #ccc;
}

.navbar-container img.menicon {
    max-width: initial;
}

.bootstrap-tagsinput {
    min-height: 80px;
    width: 100%;
}

.fixed-tx1 a i {
    margin-right: 5px;
}

.display-data1 a.qus-ans.btn.btn-sm.btn-primary.f-right {
    float: none;
}

.newupdate_design .form-group {
    display: block;
    float: left;
}

.accpt-pro {
    width: 70%;
}

.display-data1 {
    width: 28%;
    text-align: right;
}

.display-data1,
.accpt-pro {
    display: inline-block;
    vertical-align: top;
    margin: 7px 0;
}

a.date-editop {
    background: #328cc0;
    color: #fff;
    padding: 5px 15px;
    border-radius: 50px;
    position: absolute;
    top: -30px;
    right: 0;
}

.for-reportdash .box-item {
    width: 100% !important;
    text-align: left !important;
}

.dt-buttons button {
    border: none;
    padding: 4px 11px;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.height-bg1 {
    background: #f0f3f7;
    padding: 15px;
}

.height-bg1 .row {
    background: #fff;
    border-radius: 6px
}

.height-bg1,
.height-bg1 .row {
    min-height: 300px;
}

.reporttimesheet a.btn.btn-success.fr-sch {
    width: auto;
    height: auto;
    border-radius: 50px;
    padding: 5px 15px !important;
}

.filter-task1 li select {
    border: 1px solid #ddd;
    background-color: transparent !important;
    /*padding: 10px 15px !important;*/
    border-radius: 50px;
}

.rdashboard .run-btn.f-right .btn.btn-danger {
    padding: 7px 10px !important;
}

.sample_section button#print_report {
    border-radius: 50px;
}

.export_option select#exported_result {
    border-radius: 50px;
    background: transparent;
    color: #000;
    border: 1px solid #000;
}

.label-column2.groups_section {
    width: 92%;
}

span.plusclsicon {
    position: absolute;
    top: 28px;
    right: 5px;
}

.plusclsicon a.btn.btn-primary {
    padding: 4px 8px !important;
    border-radius: 50px;
}

.plusclsicon i {
    margin: 0px;
}


/*.deadline-crm1 li.nav-item {
    font-weight: 600;
    border-bottom: 2px solid #000;
    margin-bottom: 15px;
}*/

#add_new_task select#priority {
    background: transparent;
}

.modal-footer.leadss a {
    text-transform: capitalize;
}

.temp-parts {
    word-wrap: break-word;
}

.header-navbar .navbar-wrapper .navbar-logo .mobile-menu {
    display: none;
}


/*.card.propose-template .count-value1.pull-right button{
    background: #f34541;
    padding: 8px 12px;
}*/

.card.propose-template .count-value1.pull-right button i.fa.fa-trash.fa-6 {
    padding-right: 0;
}

.service_view01.upload-file05 {
    margin-bottom: 20px;
}

.user-dashboard-section1 #tabs12 .checkbox-fade .cr {
    width: 14px;
    height: 14px;
}


/*select.task_assign + a.dropdown-display {
    height: 37px;
}*/

.add-newtickets.f-right.new-check-opens1 {
    margin-top: 4px;
    margin-right: 5px;
    margin-bottom: 0;
}

.new-check-opens1 a.add-tickets {
    border-radius: 3px;
}

button#delete_ticket,
button#deleteAllticket {
    padding: 4px 10px 2px;
}

@media (min-width:1200px) and (max-width:1299px) {
    .radio_bts .turnover {
        width: 80%;
    }
}

@media (max-width:1350px) {
    div#alluser_filter {
        width: 100%;
    }
}

@media (max-width: 1230px) {
    .client-top-nav {
        display:none;
    }
}

@media(max-width: 1080px) {
    #leads_source .csv-sample01.spl12,
    #leads_status .csv-sample01.spl12 {
        margin-bottom: 10px;
    }
    /* div#dashboard .wrapper-lead-float.top-leads .junk-lead:first-child {
        padding-right: 10px;
    }*/
    .wrapper-lead-float.top-leads .junk-lead {
        width: 25%;
        border-right: 1px solid #ccc;
    }
    .don1.all_user1 li.nav-item {
        border-right: 0px solid #ccc;
        margin-bottom: 6px;
    }
    div#alluser_filter {
        margin-top: 10px;
    }
    span.invoice-topinner label {
        text-align: left;
    }
    .user-inverstment.team_management .teamright-sidebar {
        width: 100%;
    }
    .add-staff li a {
        min-height: 90px;
    }
    .bottom-img .user-details {
        display: block;
    }
    .for_task_status div#alltask_filter {
        margin-top: 10px;
    }
    .space-equal-data button {
        margin-top: 10px;
    }
    .col-xs-12.bot-sec .form-status1 strong,
    .save-addmore input#save_btn {
        word-break: break-word;
    }
    .mark-lost1.floating_set .pull-left.edit-pull-left,
    .tab-content.lead_details .secone .new-proposal1.floating_set {
        margin-top: 0;
    }
    .tab-content.lead_details .new-proposal1.floating_set {
        margin-top: 0;
    }
    .modal-footer.leadss {
        margin-right: 0;
        margin-top: 0;
        text-align: right;
        width: 100%;
    }
    .col-xs-12.col-sm-4.lead-form1 {
        width: 100%;
        max-width: 100%;
        padding-bottom: 15px;
    }
    .btn.btn-card.btn-primary.leadsG {
        margin-top: 0;
    }
    .count-value1.cv.pull-right .create-proposal.pro-dash {
        margin-top: 0 !important;
    }
    .count-value1.cv.pull-right,
    .create-proposal.pro-dash {
        margin-top: 10px !important;
    }
    /* tab header design */
    .header-navbar .navbar-wrapper .navbar-logo {
        width: 100% !important;
        height: 53px;
    }
    .header-navbar .navbar-wrapper .navbar-logo .mobile-menu {
        top: 3px;
        display: inline-block;
    }
    .header-navbar .navbar-wrapper .navbar-logo .mobile-menu {
        position: absolute;
        left: 20px;
        right: auto;
    }
    .navbar-logo a {
        display: inline-block;
    }
    .header-navbar .navbar-container .nav-left,
    .header-navbar .navbar-wrapper .navbar-container .nav-right {
        display: none;
    }
    .header-navbar .navbar-wrapper .navbar-container .nav-right {
        padding: 6px 0;
    }
    .header-navbar .navbar-wrapper .navbar-logo .mobile-options {
        top: 12px;
    }
    .header-navbar .navbar-wrapper .navbar-logo .mobile-options {
        display: block;
        position: absolute;
        right: 30px;
        font-size: 21px;
    }
    li.header-notification {
        margin-top: 6px;
    }
    /* rs changes */
    .addlay .navbar-container.container-fluid .nav-left {
        display: block;
        position: absolute;
        background: #fff;
        top: 55px;
        left: 0;
        width: 300px;
        padding: 15px 20px;
        height: 100vh;
        z-index: 99999;
        overflow: auto;
    }
    .addlay .nav-left .data1 li {
        display: block;
        width: 100%;
        line-height: 27px !important;
    }
    .addlay .dropdown ul.dropdown-menu1 li a {
        color: #000 !important;
        text-align: left;
    }
    .addlay .dropdown ul.dropdown-menu1 li {
        background: transparent;
        text-align: left;
    }
    .addlay .dropdown ul.dropdown-menu1 {
        position: unset;
        padding-top: 10px !important;
        padding-left: 15px !important;
    }
    .addlay .data1 li .icofont {
        top: 6px;
    }
    .addlay .dropdown ul.dropdown-menu1 li.atleta {
        line-height: normal !important;
    }
    .addlay .dropdown ul.dropdown-menu1 ul.dropdown-menu.hide-dropdown01 {
        position: unset;
        border: none;
        padding-left: 0px;
    }
    .addlay .nav-left .data1 li a {
        text-align: left;
    }
    .pcoded .pcoded-header[header-theme="theme1"] .navbar-logo a {
        display: inline-block;
        margin-top: 10px;
    }
    /* tab header design */
    .card-block-small .comment-desc h6 .comment-btn {
        display: block;
        width: 100%;
        float: none;
        margin-top: 10px;
        text-align: center;
    }
    #task-reports .card-block.fileters_client.new123 {
        overflow-x: auto;
        overflow-y: hidden;
    }
    .for-reportdash .right-one .toolbar-table.f-right {
        width: 100%;
        margin-top: 20px;
    }
    .filter-data {
        width: 100%;
        padding: 0;
    }
}

@media(max-width: 1024px) {
    .only-title-add12 .primary-inner {
        width: 50%;
    }
    #other .management_accordion .form-group {
        width: 50%;
    }
    #add_new_task .checkbox-color {
        display: inline-block;
    }
    .for-reportdash .right-one {
        width: 70%;
    }
    .for-reportdash .left-one {
        width: calc(30% - 15px);
    }
}

@media(max-width: 1023px) {
    .col-xs-12.col-sm-4.lead-form1 {
        max-width: 33.3%;
    }
    .don1.all_user1 li.nav-item {
        width: 33.3%;
    }
    #leads_form .space-equal-data {
        width: 100%;
        max-width: 100%;
    }
    .lead-form1 {
        margin-top: 10px;
    }
    .top-leads .junk-lead:last-child {
        padding-right: 0px;
    }
    .top-leads .status_filter {
        right: 0;
        top: inherit;
        left: 0;
        bottom: -6px;
        margin: 0 auto;
        font-size: 13px;
    }
    .basic-available-data1 {
        width: 100%;
        overflow: auto;
    }
    .cards12.col-xs-12 .col-xl-6:first-child {
        padding-left: 0;
    }
    #tabs112 ul.md-tabs.tabs112 li {
        min-height: inherit;
    }
    form#admin_setting .form-group label {
        width: 100%;
        max-width: 100%;
        text-align: left;
        display: block;
        padding-bottom: 5px;
    }
    form#admin_setting .form-group .col-sm-8 {
        width: 100%;
        max-width: 100%;
    }
    .info-field .panel.panel-default {
        width: 100%;
    }
    .add-staff li {
        width: 100%;
        margin-bottom: 7px;
    }
    .team-members .sep-div {
        width: 100%;
        padding-right: 0;
    }
    .team-members .step-bg01 {
        min-height: initial;
        max-height: initial;
    }
    .team-wid-rightsidebar .col-xs-12.col-sm-7+.col-xs-12.col-sm-5 {
        padding-left: 7px;
    }
    .deadline-block .payrolltax.floating.rev-op .vat-shipping {
        width: 33.3%;
    }
}


/*tls start 30-05-2018 (vk)*/

@media(max-width: 992px) {
    .header-navbar .navbar-wrapper .navbar-logo .mobile-options {
        top: 2px;
    }
    .header-navbar .navbar-wrapper .navbar-logo .mobile-menu {
        display: block;
    }
    .header-navbar .navbar-wrapper .navbar-logo .mobile-menu {
        top: 0px;
    }
    .common-reduce01 {
        padding: 0 15px;
    }
    .document-center,
    .main-pane-border1,
    .accotax-litd {
        padding: 0;
    }
    .select-constants {
        padding-right: 15px;
        padding-left: 15px;
    }
    .blank-pro,
    .management_section .accordion-panel,
    .send-data .accordion-panel,
    .left-side-proposal,
    .right-side-proposal {
        width: 100%;
    }
    .img-tax img {
        width: 40px;
        height: 40px;
    }
    #price_tab .accordion-panel {
        padding-right: 0;
    }
    .pcoded-main-container {
        margin-top: 75px !important;
    }
    .right-side-proposal {
        padding-left: 0;
    }
    #price_tab,
    #price_tab,
    #edit_tab,
    #finallize_tab {
        padding: 15px;
    }
    .mark-right-optional a {
        margin-bottom: 7px;
    }
    .bottom-field-heads+.proposal-fields4.service-items {
        padding: 27px 15px 15px;
    }
    .inside-popup {
        width: 100%;
        text-align: center;
    }
    .service-table.discount .proposal-fields6,
    .service-table.tax .proposal-fields6,
    .service-table.tax .proposal-fields5 {
        width: 100%;
        border-right: initial;
    }
    #edit_tab div#option-tabs,
    .service-table.discount .proposal-fields1,
    .service-table.tax .proposal-fields1,
    div#finallize_tab .left-side-proposal,
    #finallize_tab .right-side-proposal,
    #finallize_tab .right-side-proposal.lt-op,
    #finallize_tab .right-side-proposal.down-op,
    span.div1,
    #option-tabs {
        width: 100%;
    }
    .categories-list-item,
    .lorem-content1 {
        box-shadow: initial;
        border: 1px solid #ccc;
        margin-bottom: 5px;
    }
    #get-options {
        margin: 15px auto;
        padding: 15px;
    }
    #mail-template {
        width: 100%;
        display: block;
        overflow: auto !important;
        margin-right: 0;
    }
    .get-options.choose.ui-draggable.ui-draggable-handle {
        width: 45%;
    }
    .container-fullscreen {
        overflow: auto;
    }
    #finallize_tab .right-side-proposal {
        margin-top: 15px;
    }
    #sent {
        margin: 0;
    }
    #finallize_tab .right-side-proposal.down-op {
        margin-left: 0;
    }
    .main-timeline {
        padding: 15px;
    }
    span.div1 h6 {
        font-weight: 600;
    }
    span.div1 {
        padding: 0 10px;
        margin-bottom: 7px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 7px;
    }
    .modal.fade .modal-dialog {
        transform: initial;
        margin: 10px 10px;
    }
    div#Preview_proposal .modal-content {
        height: initial;
        position: relative;
    }
    .main-timeline,
    .main-timeline {
        padding: 10px 0 !important;
    }
    .all_user-section.floating_set.proposal-commontab a.nav-link,
    .all_user-section.floating_set.proposal-commontab li:last-child a.nav-link {
        border: none;
    }
    ul.status-list {
        padding-left: 0;
    }
    .inner-tab a.nav-link {
        font-size: 18px !important;
    }
    li.nav-item.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab {
        width: 33.33333%;
        min-height: 120px;
        border-right: 1px solid #ccc !important;
    }
    #tabs12 .ui-tabs-panel.ui-corner-bottom.ui-widget-content {
        overflow: auto;
    }
    .all_user1 a {
        padding: 3px 7px;
    }
    .ui-tabs .ui-tabs-panel {
        padding: 0;
    }
    .tab-leftside .all_user1 .sub-categories1 a {
        border: none;
    }
    .temp-parts {
        width: 50%;
    }
    .cnew_template.edit-opt .inner-div a {
        margin-bottom: 5px;
    }
    #mail-template {
        margin-bottom: 15px;
    }
    div#display_service1_wrapper {
        padding: 10px 15px;
    }
    /*.all_user-section2,.columns {
    padding: 0;
}*/
    .track-drop .editor {
        width: 100%;
        margin-right: 0;
    }
    .track-drop .contacts {
        width: 100%;
        margin-top: 15px;
    }
    .card.propose-template .count-value1.pull-right a {
        margin-bottom: 5px;
        margin-right: 8px;
        width: 100%;
    }
    .inside-popup select,
    .inside-popup input,
    .columns>.editor,
    .columns>.contacts {
        width: 100%;
    }
    .columns>.contacts {
        padding: 0;
        margin-top: 10px;
    }
    /* rs changes */
    .addlay .navbar-container.container-fluid .nav-left {
        display: block;
        position: absolute;
        background: #fff;
        top: 53px;
        left: 0;
        width: 300px;
        padding: 15px;
        height: 100vh;
        z-index: 9;
        box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
        overflow: auto;
    }
    .addlay .nav-left .data1 li {
        display: block;
        width: 100%;
        line-height: 27px !important;
    }
    .addlay .dropdown ul.dropdown-menu1 li a {
        color: #000 !important;
        text-align: left;
    }
    .addlay .dropdown ul.dropdown-menu1 li {
        background: transparent;
        text-align: left;
    }
    .addlay .dropdown ul.dropdown-menu1 {
        position: unset;
        padding-top: 10px !important;
        padding-left: 15px !important;
    }
    .addlay .data1 li .icofont {
        top: 6px;
    }
    .addlay .dropdown ul.dropdown-menu1 li.atleta {
        line-height: normal !important;
    }
    .addlay .dropdown ul.dropdown-menu1 ul.dropdown-menu.hide-dropdown01 {
        position: unset;
        border: none;
        /*padding-left: 15px;*/
    }
    .addlay .nav-left .data1 li a {
        text-align: left;
    }
}

@media(max-width: 991px) {
    .toolbar-table.f-right {
        margin-top: 15px;
    }
    .reports-tabs .left-sireport {
        width: 50%;
        max-width: 50%;
    }
    .msg-tinybox {
        width: calc(100% - 40px);
    }
    .reports-tabs .card-comment .card-block-small .comment-desc .btn-comment {
        padding: 4px 15px;
    }
    .reports-tabs .left-sireport {
        width: 50%;
    }
    .btn-group.e-dash.sve-action1 ul.dropdown-menu.show {
        left: -26px !important;
    }
    .container-fullscreen.fixed1 {
        width: 100%;
    }
    div#option-tabs.fixed {
        position: unset !important;
    }
    .addlay .nav-left .data1 li {
        line-height: 25px !important;
        padding: 0 8px !important;
    }
    .addlay .dropdown ul.dropdown-menu1 li {
        padding: 0 10px !important;
    }
    .cards12.col-xs-12 .col-xl-6.lf-mytsk {
        padding-right: 0;
        width: 100%;
        max-width: 100%;
    }
    .cards12.col-xs-12 .col-xl-6.lf-mytodo {
        padding-left: 0;
        width: 100%;
        max-width: 100%;
    }
    .all_user1 a {
        padding: 3px 10px;
    }
    .modal-addnew1 #basic_details input,
    .modal-addnew1 #basic_details select,
    .modal-addnew1 #basic_details textarea,
    #details .col-sm-8 input {
        width: 100%;
    }
    .team-wid-rightsidebar .col-xs-12.col-sm-7 {
        padding-right: 0;
    }
    .accident-toggle.new+.payrolltax.floating.rev-op .search-vat1+.company-search1 {
        width: 47%;
    }
    .job-card.count-details.lefsec.col-xs-12.col-md-6 {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .card.desk-dashboard.fr-bg12.widmar.col-xs-12.col-md-6 {
        width: 100%;
        margin-top: 30px;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .row.job-card .col-md-12.col-xl-4 {
        max-width: 50%;
    }
    div#Proposals .row.col-12 .card.desk-dashboard.teo {
        max-width: 100%;
        width: 100%;
        flex: 0 0 100%;
    }
    div#columnchart_values {
        overflow-x: auto;
        overflow-y: hidden;
    }
    div#alltask_filter+div table td.child {
        text-align: left;
    }
    div#alltask_filter+div table td.child span.dtr-title,
    div#alltask_filter+div table td.child span.dtr-data {
        margin-top: 0 !important;
        padding: 5px 10px;
    }
    .top-leads.fr-task .junk-lead.color-junk2 {
        /*max-width: 25%;*/
        min-width: 150px !important;
        border-right: 1px solid #ccc;
    }
    .col-sm-12.attached-popup1 .checkbox-color.checkbox-primary {
        float: left;
        padding-bottom: 20px;
    }
    form#add_new_task .col-sm-6 {
        max-width: 100%;
    }
    .bot-sec .custom-fields11 {
        max-width: 100%;
    }
}

@media(min-width: 768px)and (max-width: 1023px) {
    .leads-search1 input {
        width: 250px;
    }
    .junk-lead {
        width: 33.333%;
    }
    .source-set1 {
        width: 100%;
    }
    .source-set1:last-child {
        margin-top: 7px;
    }
    div#alluser_length {
        margin-top: 10px;
    }
    .tab-leftside .all_user1 li:first-child a,
    .tab-leftside .all_user1 .sub-categories1 a {
        min-width: 100%;
    }
    .sub-categories1 ul li>a:first-child {
        padding-left: 0 !important;
    }
}

@media(max-width: 768px) {
    #basic_details .management_accordion .form-group {
        width: 100%;
    }
    .cus-date input {
        width: calc(100% - 37px) !important;
    }
    .day-list.accor-view09 .don1 li a.nav-link span {
        position: unset;
        display: block;
        width: 80%;
        margin: 0 auto;
    }
}

@media(max-width: 767px) {
    .toolbar-table.f-right li.fr-wid {
        width: auto;
    }
    .toolbar-table.f-right .filter-task1 {
        text-align: left;
        width: 100%;
    }
    .filter-task1 ul {
        width: 100%;
    }
    .fr-reports .left-sireport {
        width: 100%;
        max-width: 100%;
    }
    #add_new_task .common-schedule-msg1 .modal-footer button {
        width: auto;
        margin-left: 10px;
    }
    .common-repeats1 .label-column1 {
        width: 20%;
    }
    .common-schedule-msg1 .col-form-label {
        text-align: left;
    }
    #edit_tab .container-fullscreen {
        overflow-x: auto;
        width: 100%;
    }
    #mail-template {
        overflow-x: auto;
        width: 100%;
    }
    .attachments .left-op {
        margin-bottom: 10px;
    }
    .leads-section {
        padding: 15px;
    }
    .leads-search1 input {
        width: 100%;
    }
    .leads-section .management_section {
        padding: 5px;
    }
    .switch-list01 .pull-right,
    .switch-list01 .pull-left {
        text-align: center;
        float: none;
    }
    .junk-lead {
        width: 50%;
    }
    .news-leads a {
        margin-bottom: 5px;
    }
    .new-row-data1 {
        padding: 15px 0;
    }
    .header-navbar {
        padding-bottom: 0;
    }
    #leads_form .space-equal-data {
        padding: 0;
    }
    #leads_form .modal-footer {
        padding: 10px 0;
        float: left;
        width: 100%;
    }
    #leads_form .modal-footer>:not(:first-child),
    #leads_form .modal-footer button {
        min-width: 80px;
    }
    .width-junk {
        width: 100%;
    }
    .lead-summary3.floating_set.row.sortby_kanban {
        margin: 0;
    }
    .top-leads .junk-lead:nth-child(2) {
        border-right: 1px solid #ccc;
    }
    .top-leads .floating_set {
        overflow: visible;
    }
    .top-leads .sort-by.floating_set {
        top: -15px;
    }
    .deadline-crm1,
    .only-title-add12 .primary-inner {
        float: left;
        width: 100%;
    }
    .only-title-add12 .primary-inner label.col-sm-4.col-form-label {
        text-align: left;
        display: inline-block;
        width: 64%;
    }
    .primary-info03.column_setting_new_9 span.primary-inner .col-sm-8 {
        width: auto;
    }
    .column_st-new .col-form-label {
        width: 70%;
    }
    .column_st-new .col-form-label+.col-sm-8 {
        width: auto;
    }
    .don1 a.nav-link span {
        position: unset;
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    .don1 li:nth-child(6) a span,
    .don1 li:nth-child(2) a span,
    .don1 li:nth-child(3) a span,
    .don1 li:nth-child(4) a span {
        margin: 0 auto;
    }
    .filter-task1 ul {
        padding-top: 10px;
    }
    .filter-task1 li {
        padding: 5px;
        /* width: 50%; */
        text-align: center;
    }
    .body-popup-content .accordion-panel {
        width: 100%;
    }
    #other .management_accordion .form-group {
        width: 100%;
    }
    section.client-details-view.hidden-user01.floating_set.card-removes {
        padding: 10px;
    }
    .client-inform-data1 {
        padding: 20px 15px;
    }
    .import-container-1.margin-les .fr-stflist .csv-sample01.fr {
        margin-top: 5px;
        margin-left: 3px;
    }
    .invoice-top+.add-plus12 .invoice-ref {
        width: 100%;
    }
    .invoice-details.repeat-invoice .invoice-ref span.invoice-topinner {
        width: 100%;
    }
    .day-list .don1.all_user1 li.nav-item {
        width: 50%;
    }
    .all_user1 .md-tabs .nav-item a {
        margin-bottom: 0;
    }
    .accident-toggle.new+.payrolltax.floating.rev-op .search-vat1 input#companysearch,
    .payrolltax.floating.rev-op .company-search1 .vat-shipping:last-child select {
        width: 100%;
    }
    .row.job-card .col-md-12.col-xl-4 {
        max-width: 100%;
    }
    .revenue-task.row .col-md-6.col-xl-3 {
        width: 50%;
    }
    .widget-card-1 .card1-icon {
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    .card.desk-dashboard .card.widget-card-1 {
        margin: 30px 0 15px;
    }
    .cards12 .card-header h5 li.nav-item {
        display: inline-block;
    }
    .cards12 .card-header h5 li.nav-item a {
        font-size: 14px;
    }
    .top-leads.fr-task .junk-lead.color-junk2 {
        max-width: inherit;
    }
    .toolbar-table {
        padding-left: 0;
    }
    .filter-task1 select {
        width: calc(100% - 30px);
    }
    .junk-lead .lead-point1 {
        padding-right: 0;
    }
    .top-leads .status_filter {
        position: unset;
        display: block;
    }
    .md-tabs .nav-item+.nav-item {
        min-height: 37px;
    }
    .tab-content.lead_details .tab-pane {
        padding: 20px;
    }
    li.nav-item.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab {
        min-height: 130px;
        width: 50%;
    }
    .columns>.contacts,
    .columns>.editor {
        width: 100% !important;
    }
    .new-adds-company .modal-content {
        height: calc(100vh - 20px);
    }
    .new-adds-company .modal-dialog form#login_form .modal-content {
        height: auto;
        max-height: calc(100vh - 20px);
    }
    .common-annual .annual-field3 {
        display: none;
    }
    .common-annual .annual-field2 {
        width: 100%;
    }
    .unit-annual.floating_set .common-annual .annual-field3 {
        display: block;
        width: 100%;
    }
    .unit-annual.floating_set .common-annual .annual-field2 {
        width: 50%;
    }
    form#login_form .common-annual .annual-field2.add-input-service {
        width: 50%;
    }
    form#login_form .common-annual .annual-field3.add-input-service {
        display: inline-block;
        width: 50%;
    }
    form#login_form .common-annual .annual-field1 {
        display: none;
    }
    .deadline-crm1.formbuil+.form-build-action,
    .space-equal-data,
    .attached-popup1,
    [id^=frmb-][id$='-form-wrap'] .pull-left {
        float: left;
        width: 100%;
    }
    #frmb-0-stage-wrap {
        padding-left: 0 !important;
        width: 100%;
    }
    ol.nav.nav-tabs.all_user1.md-tabs+.btn-bottom-toolbar.text-right {
        margin-bottom: 7px;
    }
    .form-actions.btn-group button#frmb-0-clear-all {
        margin-bottom: 10px;
    }
    [id^=frmb-][id$='-form-wrap'] .frmb .field-actions {
        top: 13px;
        right: 15px;
        opacity: 0;
        z-index: 9;
    }
    .toolbar-table.f-right li.fr-wid select {
        width: 100px;
    }
    .card-block-small .comment-desc h6 .comment-btn {
        text-align: right;
    }
}

@media(max-width: 639px) {
    .common-repeats1 .label-column1,
    .common-schedule-msg1 .col-form-label,
    .test-test label.label-column1.col-form-label {
        width: 100%;
    }
    .radio-width01:nth-child(2) {
        padding-top: 10px;
    }
    .specific-picker .form-group:nth-child(2) {
        padding-top: 15px;
        padding-right: 0 !important;
        width: 100%;
    }
    .form-group.days-list.floating_set .label-column2 {
        padding-left: 20px;
        width: 100%;
    }
    #add_new_task .remind-me-picker .modal-footer button:first-child {
        width: auto;
    }
    #add_new_task #myModalone .control-start1,
    #update_new_task #myModalone .control-start1 {
        width: 210px;
    }
    .specific-picker .form-group:nth-child(2) .input-group {
        display: inline-block;
    }
    .wrapper-lead-float.top-leads .junk-lead {
        width: 50%;
    }
    .reports-tabs .left-sireport {
        width: 100%;
    }
    .col-xs-12.col-sm-4.lead-form1 {
        max-width: 100%;
    }
    .tab-leftside {
        width: 100%;
        padding-right: 0 !important;
    }
    .right-sidecontent {
        width: 100%;
        margin-top: 20px;
    }
    .annual-lefts.pull-left+.annual-rights.pull-right {
        margin-top: 15px;
    }
    .annual-rights a {
        padding: 3px 5px;
    }
    .common-reduce01 {
        padding: 30px 15px;
    }
    #import-lead .formdata1 {
        width: 100%;
    }
    .top-leads .sort-by.floating_set {
        top: -25px;
    }
    .invoice-table .sub-tot_table th {
        white-space: inherit;
    }
    #print_preview .pcoded-content {
        float: left;
        width: 100%;
        padding: 20px 15px;
    }
    .newinvoice-btn {
        display: block;
    }
    .selectnew-invoice {
        width: 100%;
    }
    .Footer.common-clienttab.pull-right div {
        /* width: 100%;
        display: block;*/
        margin-top: 10px;
    }
    .pcoded-content {
        padding: 20px 15px;
    }
    .management_form1 .col-form-label {
        text-align: left;
    }
    .modal-addnew1 #basic_details input {
        width: 100%;
    }
    .management_accordion .form-group {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .pane-border1 {
        padding: 0px 15px 15px;
    }
    .primary-info03 .basic-info-client1 {
        padding: 20px 0;
    }
    .filter-task1 li {
        padding: 5px 10px;
        width: 50%;
        text-align: center;
    }
    .fr-reports .filter-task1 li {
        width: auto;
    }
    .import-container-1.margin-les .pull-right.csv-sample01 {
        width: 100%;
    }
    .deadline-block .payrolltax.floating.rev-op .vat-shipping {
        width: 100%;
        padding: 10px 0;
    }
    #tabs112.inner-tab123 ul.md-tabs.tabs112 li {
        min-height: 38px;
    }
    .revenue-task.row .col-md-6.col-xl-3 {
        width: 100%;
    }
    .for-reportdash .right-one {
        width: 100%;
    }
    .for-reportdash .left-one {
        width: 100%;
    }
}

@media(max-width: 479px) {
    .repeat-invoice span.invoice-topinner select {
        width: 60%;
    }
}

@media(max-width: 374px) {
    .create-proposal.pro-dash {
        margin-top: 0 !important;
        margin-right: 10px;
    }
    .count-value1.cv.pull-right .create-proposal.pro-dash {
        margin-right: 0;
    }
    .count-value1.cv.pull-right,
    .create-proposal.pro-dash {
        text-align: right;
    }
}

@media(min-width: 1600px) {
    .management_section .card-block.accordion-block {
        width: 100%;
    }
    .addnewclient_pages1 {
        margin-bottom: 0;
    }
    .management_accordion {
        text-align: center;
    }
    /*.remove-spacing-9 .accordion-panel {
    width: 50%;
}*/
    .basic-width-crm {
        width: 80%;
        margin: 0 auto;
    }
    #insert_form #required_information,
    #insert_form #basic_details {
        /*margin-top: -21px;*/
    }
    #insert_form.modal-addnew1 #required_information,
    #insert_form.modal-addnew1 #basic_details {
        margin-top: 0;
    }
    .email-innersec {
        width: calc(100% / 7);
    }
    .info-field .panel.panel-default,
    .sep-div,
    .grid-sizer {
        width: 25%;
    }
    .column_setting_new_9 .left-primary {
        width: 49%;
        display: inline-block;
        text-align: left;
    }
    .basic-width-permis {
        width: 50%;
    }
    .billable-task1 {
        width: 40%;
    }
}


/*22-03-2018*/

@media(min-width: 1600px) {
    #assignto .main-pane-border03 {
        margin-top: -14px;
    }
    .manage-border013 {
        margin-top: -8px;
    }
    .tab-leftside,
    .right-side-proposal {
        width: 22%;
    }
    .search-vat1 input {
        width: 94%;
    }
}

@media(min-width:1600px) {
    .newupdate_design .columns-two .form-group,
    .update-data01 span.primary-inner {
        width: 24%;
    }
    .report-redesign1 {
        margin-top: 0;
    }
    /*.newmanage-animation .fullwidth-animation3 .white-space01 .management_form1, .three-animation{
    -webkit-columns: 4;
    columns: 4;
}*/
    .three-animation {
        -webkit-columns: 4;
        columns: 4;
    }
    .three-animation_client .form-group {
        width: 25% !important;
    }
    .information-tab .data-mang-06 .three-animation {
        -webkit-columns: initial;
        columns: initial;
    }
    /*.newmanage-animation .tab-pane .masonry-container, .flat-animation2{
    -webkit-columns: 3;
    columns: 3;
}*/
    .newmanage-animation .fullwidth-animation3 .white-space01 .management_form1 .form-group {
        width: 25%;
    }
    .time-date {
        display: inline-block;
        vertical-align: top;
        width: initial;
    }
}

@media(min-width: 1600px) {
    .newupdate_design .columns-two .form-group,
    .update-data01 span.primary-inner {
        width: 24.5%;
    }
    .divicls .form-group.row.name_fields {
        width: 25%;
    }
    .service_view01 .form-group {
        margin: 14px 0 0;
        width: 25%;
        flex: initial;
        max-width: initial;
    }
    .service_view01 .form-group.row.title_submitbt.submitborder {
        width: initial;
    }
    .firmmytodoclsbottom .col-xl-6.col-sm-6.lf-mytodo {
        width: 33.333%;
        flex: initial;
        max-width: initial;
    }
    .f-right.client-customize1 {
        width: initial;
    }
}

@media(max-width:992px) {
    .pcoded .pcoded-header[header-theme="theme1"] .navbar-logo a {
        color: #000;
    }
    .pcoded-container .header-navbar .navbar-wrapper .navbar-logo {
        width: auto !important;
    }
    .pcoded-overlay-box {
        display: none;
    }
    ul.nav.nav-tabs1.all_user1.md-tabs.pull-left.u-dashboard {
        text-align: center;
    }
    ul.nav.nav-tabs1.all_user1.md-tabs.pull-left.u-dashboard li.nav-item {
        margin-bottom: 10px;
    }
    .nav-tabs .nav-link.active {
        margin-bottom: 5px;
    }
    .filter-task1 li {
        width: 100% !important;
        text-align: left;
    }
    .main-body .clientredesign .toolbar-table {
        width: 100%;
    }
    span.for-part {
        text-align: left;
        margin-bottom: 10px;
        width: 88%;
    }
    .toolbar-table .filter-task1 li .dropdown {
        width: 100%;
    }
    .toolbar-table .filter-task1 li .dropdown button {
        width: 100% !important;
    }
    .header-navbar .navbar-wrapper .navbar-logo .mobile-menu {
        border: 0px solid #000;
        padding: 0;
        font-size: 22px;
    }
    a#example_previous,
    #alluser_previous {
        float: unset;
    }
    .document-center.floating_set {
        padding: 0px;
    }
    .newupdate_design .columns-two .form-group,
    .update-data01 span.primary-inner,
    .update-data01 span.primary-inner {
        width: 100% !important;
    }
    .space-required.remove_updatespace {
        width: 100%;
    }
    .newmanage-animation .tab-pane .masonry-container,
    .flat-animation2 {
        column-gap: 0;
        columns: 1;
        -webkit-column-gap: 0;
        -webkit-columns: 1;
    }
    .basic-border1 {
        overflow-x: auto;
    }
    .newupdate_design .basic-info-client1 .form-group {
        width: 100% !important;
    }
    .disk-redesign1 {
        margin-top: 0px !important;
    }
    .invoice-crm1 .top-leads.fr-task .junk-lead.color-junk2 {
        width: auto !important;
    }
    /*    .invoice-crm1 .junk-lead .lead-point1 a {
        padding-top: 1px !important;
    }*/
    /*    .disk-redesign1 .junk-lead .lead-point1 a {
        padding-right: 0 !important;
    }*/
    .floating_set.space-disk1 .col-md-12.col-xl-6 {
        padding: 0px;
    }
    .floating_set.space-disk1 .col-sm-5,
    .floating_set.space-disk1 .col-sm-7 {
        padding: 0px;
    }
    .cards12.col-xs-12 .col-xl-6:first-child {
        padding-right: 0px !important;
    }
    .to-do-list .checkbox-fade.fade-in-primary {
        width: 100% !important;
    }
    .count-mydisk1 {
        width: 100%;
    }
    .mydisk-realign1 .time-frame {
        overflow-x: auto;
    }
    .job-card .col-md-12.col-xl-4 {
        padding: 0px;
    }
    .top-leads.fr-task .tsk-animation1 .junk-lead.color-junk2 {
        margin-bottom: 10px;
        float: none;
    }
    ul.nav.nav-tabs.all_user1.md-tabs.pull-left.u-dashboard {
        float: unset;
    }
    .newinvoice-btn {
        display: block;
    }
    .invoice-crm2 .selectnew-invoice {
        float: unset;
        text-align: center;
    }
    .cmn-invoice-approve {
        width: 100% !important;
    }
    .approve-btn {
        margin-top: 15px;
    }
    .approve-btn {
        text-align: center !important;
    }
    .payment-table {
        width: 100% !important;
    }
    .side-inputbox01 {
        min-width: auto !important;
    }
    .repeat-invoice span.invoice-topinner .date-col {
        width: 100% !important;
        margin-bottom: 15px;
    }
    span.invoice-topinner.side-inputbox01 select {
        width: 100% !important;
    }
    .table-savebtn a,
    .table-savebtn input {
        margin-bottom: 10px !important;
    }
    .taskpagedashboard .top-leads .status_filter {
        padding: 0 4px 3px;
    }
    /*.taskpagedashboard .top-leads .junk-lead strong {
        top: -6px !important;
    }*/
    .billblecheck {
        text-align: center;
    }
    .tsk-details1 .card .for_edit_settings {
        text-align: center !important;
    }
    .page-body.task-d .row .col-xl-8.col-lg-12.pull-xl-4 {
        padding-left: 0;
        padding-right: 0px !important;
    }
    #attach-file-div a.dropdown-item.waves-light.waves-effect {
        width: 100%;
    }
    .card-footer .f-left {
        float: unset;
        text-align: center;
    }
    .card-footer .f-right {
        float: unset;
        text-align: center;
        display: block !important;
    }
    .comment-block input#add_comments {
        border-radius: 50px;
        width: 100%;
        margin-bottom: 15px;
    }
    .btn-add-task .input-group {
        display: block;
    }
    .taskclsbutton {
        width: 100%;
        margin-left: 0px !important;
    }
    .tasktimenew .matter_notes1 input {
        min-width: 220px;
    }
    .common_form_section1 .create-btn input {
        width: 100%;
        margin-bottom: 10px;
    }
    ul.nav.nav-tabs.all_user1.md-tabs.pull-left {
        text-align: center;
        float: unset;
    }
    .attach-files.update-attach-hidden .button {
        min-width: 100%;
    }
    .space-equal-data:first-child {
        padding-right: 0 !important;
    }
    .new-tsk01 .col-sm-6,
    .space-equal-data.attach-task-new .new-tsk01 .form-group {
        width: 100%;
    }
    /*.space-equal-data .form-group {
        padding: 0px 0px 0px 15px;
    }*/
    .space-equal-data,
    .attached-popup1 {
        padding: 0 !important;
    }
    .direct-chk.checkbox-color label {
        padding-left: 25px !important;
    }
    .form-group button.btn-info {
        font-size: 12px;
        width: 100%;
    }
    #add_new_task .new_task-bts1 input,
    .new_task-bts1 input {
        width: 100%;
        margin-bottom: 10px;
    }
    .form-group.create-btn.new_task-bts1.nw-tsk.f-right {
        float: unset;
        clear: both;
    }
    .public-bill01.adnewtsk {
        padding: 15px !important;
    }
    .add_new_post04 {
        border: 0px solid #ccc;
    }
    #add_new_task .checkbox-color {
        width: 45%;
    }
    #add_new_task .modal button {
        width: 30px;
    }
    .days-left {
        width: 100%;
    }
    .form-group.days-list.floating_set .label-column2 {
        padding-left: 0;
        width: 100%;
    }
    .every_popup1 .label-column2 {
        max-width: 100%;
        padding-left: 0;
    }
    .common-schedule-msg1 label {
        text-align: left;
    }
    .radio-width01 {
        width: 100%;
    }
    .specific-picker .form-group {
        width: 100%;
    }
    .specific-picker .form-group:first-child {
        padding-right: 0 !important;
    }
    .specific-picker .form-group:last-child {
        padding-left: 0;
    }
    .modal#service_task_popup .form-group {
        width: 100%;
    }
    .modal#service_task_popup .custom_upload {
        width: 100%;
    }
    .panel-body .form-group select {
        width: 100% !important;
    }
    .for_task_serach input#for_kan_search {
        min-width: 100%;
    }
    .lead-summary2 .row.for_task_serach {
        padding: 0;
    }
    .new-row-data1.width-junk {
        padding: 10px;
    }
    .propose-template .all_user-section.floating_set.proposal-commontab a.nav-link {
        border: 0px solid #000;
        /*margin: 5px 0px !important;
        padding: 5px 0px !important;*/
        display: inline-block;
        text-align: center;
    }
    .propose-template .all_user-section.floating_set.proposal-commontab a.nav-link.active {
        border-bottom: 2px solid #000;
    }
    ul.status-list li {
        width: 100%;
        margin-bottom: 5px;
    }
    input#datewise_filter {
        width: 100% !important;
    }
    .date-filterop input {
        margin-bottom: 5px !important;
        margin-left: 0px !important;
    }
    input#datewise_filter1 {
        width: 80% !important;
    }
    .propose-template .year-status button#search {
        margin-top: 0;
    }
    .propose-template .create-proposal.pro-dash.newclscret {
        width: 100%;
        margin: 15px 0px !important;
    }
    .propose-template .create-proposal.pro-dash.newclscret a {
        width: 100%;
        margin: 0px;
    }
    .proposalulcls li a {
        border: none !important;
    }
    .proposalulcls li {
        width: 100% !important;
    }
    .proposal-commontab .proposal-info .sample_section {
        margin-top: 0 !important;
    }
    .propose-template .all_user-section.floating_set.proposal-commontab .proposalulcls a.nav-link {
        border: 0px solid #000;
        margin: 5px 0px !important;
        /*padding: 9px 9px !important;*/
    }
    .propose-template .proposalulcls a h4 span {
        top: 7px;
        right: 2px;
    }
    .graybgcls .dataTable tbody td span.info-num {
        left: -5px;
        position: relative;
    }
    ul.nav-tabs1 .nav-item .nav-link.active {
        display: inline-block;
    }
    .renewdesign li a.nav-link.tap_click,
    .renewdesign li .tap_click {
        display: inline-block;
        min-width: 140px;
        vertical-align: top;
        text-align: left;
    }
    .header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification,
    .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .show-notification,
    .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification,
    .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .profile-notification {
        right: 0;
        left: initial;
    }
    .common-clienttab div {
        margin-left: 0;
    }
}

@media(max-width:767px) {
    .pane-border1 {
        padding: 0;
    }
    .newupdate_design .col-sm-4.col-form-label,
    .companies-house-form span.primary-inner label {
        display: block;
        padding-left: 0;
    }
    .primary-info.addnewclient select {
        width: 100%;
        margin-left: 0;
    }
    .primary-info.addnewclient span.primary-inner {
        margin-bottom: 15px;
    }
    .radio.radio-inline {
        margin-right: 0;
    }
    span.success.pack_add_row_wrpr_landline button,
    span.success.pack_add_row_wrpr_email button {
        width: 24px;
        height: 24px;
        background-size: 11px;
    }
    .danger-make1 .btn i {
        line-height: 23px;
    }
    .danger-make1 i.fa.fa-trash {
        font-size: 15px;
    }
    .newupdate_design .col-sm-4.col-form-label,
    .companies-house-form span.primary-inner label {
        padding-left: 0;
    }
    .basic-border1 table {
        min-width: 440px;
    }
    .pcoded-content {
        padding: 10px !important;
    }
    .space-required .radio.radio-inline label {
        display: inline-block;
        padding-left: 0;
    }
    .space-required .btn.btn-danger.remove {
        margin-top: 10px;
    }
    .count-value1 .del-tsk12 {
        margin: 3px;
    }
    .count-value1.pull-right.userlist-count01 {
        margin: 0 0 15px;
    }
    .don1.all_user1 li.nav-item {
        display: inline-block;
        min-height: 39px;
    }
    .newupdate_alert {
        width: 97%;
    }
    .alertclsnew a {
        margin-bottom: 7px;
    }
    .management_accordion {
        columns: initial;
    }
    .newupdate_design .form-group,
    .update-data01 span.primary-inner {
        margin-bottom: 15px;
    }
    a.btn.btn-primary.add_existing_person.person,
    a.btn.btn-primary.add_existing_person.personss {
        margin-bottom: 7px;
        i
    }
    .trading_rate p span {
        display: block;
        width: 100%;
        margin: 4px 0;
    }
    .company_numbers {
        margin: 4px 0;
    }
    .trading_limited a,
    .company_numbers {
        width: 100%;
        margin: 4px 0;
    }
    .trading_rate p span:last-child {
        width: 100%: margin-top: 5px;
    }
    .trading_rate p span:last-child {
        width: 100%;
    }
    .addlay .dropdown ul.dropdown-menu1 {
        padding-top: 0 !important;
        padding-left: 0 !important;
    }
    .bothclsblue {
        position: relative;
        top: 0;
        left: 0;
        margin: 15px 0;
    }
    .time-border .card-block {
        padding: 15px;
    }
    .bothclsblue .cd-details {
        display: block;
        margin-top: 5px;
        float: none;
        margin-bottom: 0;
    }
    .cd-timeline-content .cd-read-more,
    .cd-timeline-content .cd-date {
        display: block;
        width: initial !important;
    }
    .client_section .card.ser-timeline .card-block {
        max-height: 500px;
        overflow: auto;
    }
    .client_section .time-frame h2 {
        margin-bottom: 10px;
    }
    .cd-timeline-content .cd-read-more,
    .cd-timeline-content .cd-date {
        margin: 7px 0 0;
    }
    .edit_right02 {
        margin-top: 0;
    }
    .columsettingcls .deadline-crm1 {
        background: transparent;
        box-shadow: none;
        margin-bottom: 15px;
    }
    .column-groups #contacts1 span.primary-inner {
        padding: 0;
    }
    .column-groups .masonry-container {
        columns: initial;
        -webkit-columns: initial;
    }
    .column-groups .masonry-container .accordion-panel .form-group,
    .column-groups .management_section #noted .accordion-panel,
    .column-groups #noted .basic-info-client1 .form-group {
        width: 100%;
    }
    .pcoded-content {
        padding: 10px !important;
    }
    .user-detail-card .user-detail .row>div:nth-child(2) h6 {
        margin-left: 25px;
        line-height: initial;
        margin-bottom: 0;
    }
    .top-leads .status_filter {
        text-align: left;
    }
    .invoice-crm1 .top-leads.fr-task .junk-lead.color-junk2 {
        width: initial !important;
        min-width: 180px;
        float: none;
    }
    .myDesk .invoice-crm1.disk-redesign1 {
        margin-bottom: 15px;
    }
    .count-mydisk1 {
        width: 100%;
    }
    .set-timenone {
        padding: 0;
    }
    .fr-hgt ul.nav.nav-tabs.tabs {
        margin-top: 10px;
    }
    .mar_bottls .col-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 97%;
        max-width: 100%;
        padding-right: 0;
    }
    .deadline-crm1 li.nav-item {
        width: 100%;
        text-align: center;
    }
    .proposal-commontab .proposal-info .sample_section {
        z-index: 9;
        width: 100%;
    }
    .export_option {
        display: block !important;
    }
    .btn-group.e-dash.sve-action1 {
        min-width: 100% !important;
    }
    .export_option button.btn.btn-default.dropdown-toggle {
        min-width: 100% !important;
    }
    .mainbgwhitecls .graybgclsnew {
        width: 100%;
        margin: 0;
    }
    .create-proposal.pro-dash {
        width: 100%;
        margin-right: 0;
    }
    .newclscret a.btn {
        width: 100%;
    }
    button#proposal_delete_items {
        width: 100%;
        margin-top: 10px;
    }
    .feeporposalcls .annual-head.floating_set a,
    .feeporposalcls .annual-head.floating_set button {
        padding: 7px 13px !important;
    }
    .Footer.common-clienttab.pull-right.Next_Previous {
        float: unset;
        text-align: center;
    }
    .remove-spacing-9.flat-animation2 .accordion-panel {
        padding: 0px;
    }
    .price-newrealigne .box-division03 {
        padding: 10px;
    }
    .tax-consul-new {
        width: 100%;
        padding-right: 0;
    }
    .tax-consul-new a {
        width: 100%;
    }
    .inputbx label {
        width: 100% !important;
    }
    .input-renew input {
        width: 100%;
    }
    .addnewclient_pages1 .all_user1 li.nav-item {
        width: 100%;
    }
    .management_section .accordion-title {
        margin-bottom: 5px !important;
    }
    .management_section .accordion-msg {
        padding: 7px 15px;
    }
    .tax-consul-new a,
    .company_add a[data-target="#send-to"] {
        margin-bottom: 10px;
    }
    .company_add a[data-target="#send-to"] {
        margin-top: 0;
    }
    .price-newrealigne #price_tab .discount-types .pricing-radio.add-price-cab {
        position: absolute;
        top: 0;
        right: unset;
    }
    .accordion-panel .pricing_listing {
        padding-left: 0;
        width: 100%;
    }
    .accordion-panel .price-listpro select#pricelist {
        min-width: auto;
        width: 100%;
    }
    /*.accordion-panel .service-table .proposal-fields1 {
    width: 100%;
}*/
    .accordion-panel .price-listpro {
        padding: 10px 0px 0;
    }
    .accordion-panel .services-des {
        padding: 0 0px;
    }
    .pull-right.mark-right-optional a {
        width: 100%;
    }
    .pull-right.mark-right-optional {
        margin-top: 10px;
    }
    .buttons_hide {
        width: 100%;
    }
    .subtotal-list {
        width: 100%;
        margin-top: 7px;
        float: unset !important;
    }
    .pull-left.send-to {
        width: 100%;
    }
    .service-table a {
        width: 100%;
    }
    .services-des.grand-services1 .pull-left.grand-total {
        width: 100% !important;
        text-align: left !important;
    }
    .services-des.grand-services1 .pull-right.send-to.grand-discount {
        width: 100% !important;
    }
    .templaterealign1 #edit_tab div#option-tabs {
        width: 100%;
        padding-left: 0;
    }
    .templaterealign1 #edit_tab div#mail-template {
        width: 100%;
        margin-top: 15px;
    }
    #finallize_tab .mark-right-optional {
        text-align: center;
    }
    .mark-right-optional .btn-group.e-dash.sve-action1 {
        float: right;
        text-align: center;
    }
    #finallize_tab .mark-right-optional .sve-action2 {
        width: 100% !important;
    }
    .mark-right-optional .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
        width: 100%;
    }
    .templaterealign1 div#finallize_tab .left-side-proposal {
        width: 100%;
        padding: 0;
    }
    .templaterealign1 #finallize_tab .right-side-proposal {
        width: 100%;
    }
    .templaterealign1 .enable-proposal .pro-sign1 {
        min-width: auto;
    }
    .price-newrealigne #finallize_tab {
        padding: 0;
        float: left;
        width: 100%;
    }
    .price-newrealigne #finallize_tab .accotax-litd {
        padding: 5px 0px;
    }
    .mainbgwhitecls .add_alreadys .send-to .choosclsnew {
        width: 100%;
        padding: 0px 15px;
    }
    .mainbgwhitecls .new-adds-company .modal-footer {
        text-align: center;
    }
    .mainbgwhitecls .choosclsnew {
        display: block;
        padding: 0px;
    }
    .mainbgwhitecls .spacing-annual.accotax-litd.send-to {
        padding: 0px 15px;
    }
    .graybgclsnew .right-sidecontenttemplate {
        width: 100% !important;
    }
    .graybgclsnew .leftytemplate {
        width: 100% !important;
    }
    .graybgclsnew .templateclsnew .tab-pane {
        padding: 10px;
        float: left;
        width: 100%;
    }
    #my_templates .annual-lefts.pull-left {
        float: unset;
        margin-bottom: 15px;
    }
    .pull-right.newclscret {
        float: unset;
    }
    .graybgclsnew .cnew_template .new-quote-01 .container-sidebar#option-tabs {
        width: 100%;
    }
    .graybgclsnew .new-quote-01 #mail-template {
        width: 100%;
        margin-top: 15px;
    }
    .graybgclsnew .cnew_template.edit-opt .inner-div a {
        width: 100%;
        margin: 0 5px 10px 0px;
    }
    .graybgclsnew .inner-div .pull-right {
        float: unset;
        text-align: center;
    }
    .tempnameopt input {
        width: 100%;
    }
    .all_user-section .top {
        width: 100%;
    }
    .column-realign1 .track-drop .editor {
        width: 100%;
        padding-right: 0;
    }
    .column-realign1 .track-drop .contacts {
        width: 100%;
    }
    .tab-content #finallize_tab .right-side-proposal.lt-op {
        width: 100%;
        padding-right: 0;
    }
    .tab-content span.div1 {
        width: 100%;
        padding-bottom: 5px !important;
    }
    .tab-content div#finallize_tab {
        padding: 0px;
    }
    #finallize_tab .chart_end1 .ui-tabs .ui-tabs-nav {
        text-align: center;
    }
    #finallize_tab .chart_end1 .ui-tabs .ui-tabs-nav li {
        width: 100%;
        margin-bottom: 10px !important;
    }
    #finallize_tab .chart_end1 .ui-tabs .ui-tabs-nav li a {
        display: inline-block;
    }
    .tab-content #finallize_tab .right-side-proposal.down-op {
        width: 100%;
    }
    .tab-content #finallize_tab .mark-right-optional.end-prposal_01 {
        position: absolute;
        top: -15px;
        right: 15px;
        left: 10px;
    }
    .newalign-dead .payrolltax .all_user1 li.search-block01 {
        padding-right: 0;
        margin-bottom: 15px;
    }
    .newalign-dead .payrolltax .all_user1 li {
        width: 100% !important;
    }
    .newalign-dead .payrolltax .all_user1 li .dropdown {
        display: block;
    }
    .newalign-dead .payrolltax .all_user1 li .dropdown button {
        width: 100%;
    }
    .payrolltax select,
    .search-vat1 select,
    .search-vat1 input {
        padding: 6px 10px;
        width: 100%;
    }
    .deadline-block .payrolltax.floating.rev-op .vat-shipping {
        padding-right: 10px;
    }
    .top-leads.fr-task .lead-data1.pull-right li {
        width: auto !important;
    }
    .toolbar-table.f-right.report-redesign1 li.fr-wid select,
    .toolbar-table.f-right li.fr-wid.report-redesign1,
    .toolbar-table.f-right.report-redesign1 li.fr-wid {
        width: 100% !important;
    }
    .deadline-crm1 .toolbar-table.f-right .year-status a {
        text-align: center;
        width: 100%;
    }
    #append_content .comment-desc h6 span {
        width: 100%;
        margin-bottom: 15px;
    }
    #append_content .reports-tabs .card-comment .card-block-small .comment-desc .btn-comment {
        min-width: 44% !important;
    }
    .card-block-small .card-block {
        overflow-x: auto;
    }
    .pcoded-content .all_user-section.floating_set.proposal-commontab li:last-child a.nav-link {
        border-right: 0px solid #ccc;
    }
    .all_user-section .for-reportdash .left-one {
        width: 100%;
    }
    .all_user-section .for-reportdash .right-one {
        width: 100%;
        margin-top: 15px;
    }
    .all_user-section .for-reportdash .right-one .toolbar-table.f-right {
        width: 100%;
    }
    .run-btn.f-right .btn.btn-danger {
        padding: 7px 13px !important;
        border-radius: 50px !important;
    }
    .for-reportdash .toolbar-table.f-right li.fr-wid select {
        width: 100%;
    }
    .for-reportdash .toolbar-table.f-right .year-status a {
        text-align: center;
        width: 100%;
    }
    ul.status-list li:after {
        display: none !important;
    }
    .for-reportdash .time-date .label-column2.input-group.date {
        width: 100%;
        padding: 0 0px;
        margin-bottom: 10px;
    }
    .dt-buttons button {
        border: none;
        padding: 4px 11px;
        border-radius: 50px;
        margin-top: 10px;
    }
    .all_user-section .for-reportdash .left-one .box-container {
        height: auto;
    }
    .for-reportdash div#container112 {
        height: auto;
        margin-top: 0;
    }
    .for-reportdash .right-one div#example_filter {
        float: right !important;
    }
    .for-reportdash #datatable_results .sample_section {
        position: relative;
        width: 100%;
    }
    .for-reportdash .dataTables_filter input {
        width: 100% !important;
        margin-left: 0px !important;
    }
    .modal-content .schd-reports {
        width: 100% !important;
    }
    .modal-content #weekly input.form-control.week-text {
        width: 82%;
    }
    span.plusclsicon {
        top: 28px;
        position: absolute;
        right: 5px;
    }
    .label-column2.groups_section {
        width: 100%;
    }
    .for-reportdash .print-data01 .export_option {
        position: relative;
        float: unset;
        width: 100%;
    }
    #append_content .prodiv12 {
        width: 100%;
        position: relative;
        right: 0;
    }
    .modal-content #weekly p {
        padding-left: 5px;
    }
    .groups_section span.keyboard-tag1 {
        position: absolute;
        right: 14px;
    }
    .keyboard-tag1 a {
        padding: 4px 8px !important;
    }
    .rdashboard .client-customize1 .time-date .label-column2.input-group.date {
        margin-bottom: 10px;
    }
    .rdashboard .client-customize1 .time-date input {
        width: 204px;
    }
    .rdashboard .client-customize1 .run-btn {
        display: block;
        text-align: center;
    }
    .export_option select#exported_result {
        width: 100%;
        margin-top: 5px;
    }
    .sample_section button#print_report {
        width: 100%;
    }
    .for-reportdash .right-one div#example1_filter {
        float: right !important;
    }
    .label-column2.groups_section .dropdown-single {
        width: 83%;
        display: inline-block;
    }
    .uploadcls a {
        display: inline-block;
        width: 47%;
    }
    .file-block1 ul.breadcrumb.breadcrumbfile {
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }
    .new-redesignfoler .left-folder {
        width: 100%;
        padding: 0;
    }
    .container-fluid.filmanagercls {
        padding: 0 !important;
    }
    .director-folder_01 .directories li {
        padding: 5px;
    }
    .left-folder .director-folder_01 {
        padding: 5px;
    }
    .director-folder_01 .toprightcorner {
        position: relative;
        top: 5px;
        right: 0;
        text-align: right;
    }
    .left-folder .files h3,
    .left-folder .directories a {
        max-width: 100%;
    }
    .form-group .file-input-up .custom_upload {
        width: 75%;
    }
    .toprightcorner a.pull-right.btn.btn-danger.btn-xs {
        float: unset !important;
    }
    .service_view01 .form-group {
        width: 100%;
    }
    .profilepagecls li.nav-item.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab {
        min-height: auto;
        width: 100%;
        border: none;
    }
    .displblockcls {
        max-width: 100%;
        margin-right: 0px !important;
    }
    .profilepagecls .pull-right.cover-btn {
        float: none;
    }
    .profilepagecls li.nav-item a {
        border-bottom: 2px solid #000;
        display: inline;
    }
    .user-detail .col-sm-5 {
        padding: 0;
    }
    .show-notification.header_notify {
        left: -130px !important;
    }
    .width-inform1 .notification-section1 {
        width: 100%;
        padding: 0;
    }
    .notification-bing .form-on-off label {
        width: 80%;
        margin: 0;
    }
    .information-tab .calendar-sectioncls .form-group {
        width: 100%;
        padding: 0;
    }
    .information-tab .calendar-section1.calendar-sectioncls label {
        width: 80% !important;
    }
    .pcoded-content.newservices-disk1 .serviceadnewtsk .services-lists {
        columns: 1;
    }
    .pcoded-content.newservices-disk1 .serviceadnewtsk .forservice .com-service.default label.check-task span {
        max-width: 100%;
    }
    .pcoded-content.newservices-disk1 .forservice .radio.radio-inline:first-child {
        padding-left: 0;
    }
    .newservices-disk1 span.f-right.hidden-phone {
        float: none;
        display: block;
        text-align: center;
        margin: 0;
    }
    .pcoded-content.newservices-disk1 .serviceadnewtsk .forservice label.check-task {
        text-align: center;
    }
    .pcoded-content.newservices-disk1 .forservice .checkbox-fade.fade-in-primary {
        padding: 7px 0px;
    }
    .staffcustomcls .add-delete-cus.add-field.f-right.adddclsset {
        margin-top: 15px;
    }
    .staffcustomcls .update-dept01.staff-cus .new-task-teams {
        padding: 0;
    }
    .staffcustomcls .update-dept01.staff-cus form#add_new_form {
        padding: 10px 10px;
    }
    .suballemailclsnew .col-sm-12 {
        padding: 0;
    }
    .edit-tempsect .newemailset {
        width: 100%;
    }
    .contacts #contactList2 li {
        width: 100%;
    }
    .suballemailclsnew .columns>.contacts {
        padding: 0 0 0 0px;
    }
    .allemailclsnew .saveclsset {
        margin-right: 0;
        /*width: 100%;*/
    }
    .all_user-section .newstyelcls {
        margin-top: 25px;
        float: left;
        text-align: center;
        width: 100%;
    }
    .Footer.common-clienttab.pull-right {
        float: none;
        text-align: center;
    }
    #staff_form .permission_staff .form-group {
        width: 100%;
    }
    .for_sign .attch-trash01 {
        max-width: 100%;
        display: block;
    }
    #staff_form .permission_staff .management_form1 {
        display: block;
    }
    #Tasks .revenue-task.row.revenue-tasknew {
        position: relative;
        right: 0;
        padding: 15px;
    }
    #Tasks li {
        margin-bottom: 10px;
    }
    #Tasks ul.stafftasckcls {
        text-align: center;
    }
    .staff-profile-cnt .staffdeadlinecls .project_hour01 {
        width: 100%;
        padding: 5px 0px;
    }
    #task_summary .tsk-summary1 {
        display: inline-block;
        width: 100%;
        padding: 10px;
    }
    #task_summary .tsk-disk03 {
        padding: 0;
    }
    #task_summary .tsk-summary1 .time-spent {
        width: 100%;
    }
    #task_summary .time-spent #chartContainer {
        overflow-x: auto;
    }
    .to-do-list .end_date_forms {
        margin: 20px 0;
    }
    .deadline-crm1 ul#depart-per {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .deadline-crm1 .pull-right.csv-sample01.for-add-staff {
        float: none;
        text-align: center;
        width: 100%;
    }
    .deadline-crm1 .pull-right.csv-sample01.for-add-staff button,
    .deadline-crm1 .pull-right.csv-sample01.for-add-staff a {
        margin: 3px 13px;
    }
    .main-display,
    .notabs-01 .main-body {
        display: inline-block !important;
    }
    .client_section .deadline-crm1.floating_set h4 {
        display: block;
        margin-bottom: 15px;
    }
    .pcoded-wrapper .addrolecls .price-tb-setting {
        width: 100%;
    }
    .pcoded-wrapper .hidden-proposal_pay {
        display: block;
        width: 100%;
        float: left;
    }
    div#example-one {
        min-width: 100% !important;
    }
    .pcoded-wrapper .role_select_float .dropdown button.btn {
        min-width: 100%;
    }
    .pcoded-wrapper .priceli .document-center.client-infom-1.floating_set.pricelist {
        padding: 0;
    }
    .pcoded-wrapper .addrolecls .line-items1 input#role {
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
    }
    .pcoded-wrapper .addrolecls .line-items1 input.btn.btn-primary {
        margin-left: 0;
    }
    .pcoded-wrapper .right-side-proposal .price-tb-setting select#roles {
        width: 100%;
    }
    .firm-field .department-table {
        overflow-x: auto;
    }
    .department-table .basic-width-permis {
        width: 100%;
    }
    .basic-width-permis .new_Department input#new_department {
        width: 100%;
    }
    .page-body .new-task-teams .form-group.col-sm-6 {
        width: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .current-assignmembers .form-group.create-btn.col-sm-12 {
        text-align: center;
    }
    .current-assignmembers .form-group.create-btn.col-sm-12 input {
        margin-bottom: 10px;
    }
    .deadline-crm1 .save-addmore {
        display: block;
        float: none;
        text-align: center;
    }
    .menumanaicon select#menumange {
        width: 86%;
    }
    .company-search1 ul.nav.nav-tabs.all_user1.md-tabs.pull-left.u-dashboard.don1.renewdesign {
        display: block;
        width: auto;
        float: none;
        margin: 0px;
        text-align: center;
    }
    .main-body .vat-dead-01 {
        width: 100%;
    }
    .main-body .deadline-block .payrolltax.floating.rev-op .vat-shipping {
        width: 100%;
        padding-right: 0;
    }
    .top-leads .nav.nav-tabs.lead-data1.pull-right.leadsG.leads_status_count {
        display: block;
        text-align: center;
    }
    .tab-content .dataTables_wrapper .dataTables_filter {
        text-align: center;
    }
    .tab-content .dataTables_length {
        text-align: center;
    }
    .proposal-fields2,
    .proposal-fields1,
    .proposal-fields3,
    .proposal-fields4,
    .bottom-field-heads {
        /*width: 100%;*/
        border-right: initial;
    }
    .invoice-top span.invoice-topinner select {
        width: 100%;
    }
    .invoice-top .invoice-topinner input {
        min-width: 100%;
    }
    .border-checkbox-section .top-leads .lead-data1.pull-right {
        text-align: center;
    }
    .border-checkbox-section .top-leads.fr-task .junk-lead.color-junk2 {
        float: none;
    }
    .attachments .table-row .left-op {
        padding: 0px !important;
    }
}

@media(min-width: 993px) and (max-width: 1288px) {
    .navbar-container img.menicon {
        max-width: 15px;
    }
    .navbar-container .nav-left li a {
        font-size: 8px !important;
    }
    .pcoded .pcoded-header[header-theme="theme1"] .navbar-logo a i.ti-more {
        display: none;
    }
    /*.navbar-wrapper .navbar-container.container-fluid {
        position: relative;
        top: 10px;
    }*/
}

@media(max-width: 1199px) {
    .dragfilescls .jFiler-input-text h3 {
        font-size: 8px;
    }
    .dragfilesclstop .dragfilescls .jFiler-input-dragDrop {
        padding-bottom: 5px;
    }
    .invoice-table .attach-invoice1 select {
        min-width: 100%;
        display: block;
        text-align: center;
    }
    .invoice-table .approve-btn {
        margin-top: 15px;
    }
    .invoice-top span.invoice-topinner {
        width: 50%;
        max-width: 50% !important;
    }
    .repeat-invoice .invoice-top span.invoice-topinner {
        min-height: 128px;
    }
    .invoice-top span.invoice-topinner select {
        width: 100%;
    }
    .invoice-top .invoice-topinner input {
        min-width: 100%;
    }
}

@media(max-width: 640px) {
    .invoice-top span.invoice-topinner {
        width: 100%;
        max-width: 100% !important;
    }
    .repeat-invoice .invoice-top span.invoice-topinner {
        min-height: initial;
    }
}

@media(max-width: 992px) {
    .repeat-invoice .repeat-refer {
        text-align: center;
    }
    .repeat-invoice .repeat-refer .invoice-ref {
        margin-bottom: 15px;
    }
    .repeat-invoice span.invoice-topinner input {
        width: auto;
    }
    .invoice-details.repeat-invoice .invoice-ref span.invoice-topinner {
        margin-bottom: 15px;
    }
    .profilepagecls li.nav-item.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab {
        min-height: auto;
    }
}

@media(min-width: 768px) and (max-width: 992px) {
    /*.files .toprightcorner {
        position: relative;
        top: 0;
        right: 12px;
    }*/
    .files .preview-align1 a.item {
        display: block;
    }
    .information-tab .calendar-sectioncls .form-group {
        width: 32.333%;
    }
    .information-tab .calendar-section1.calendar-sectioncls p {
        position: absolute;
        right: 0;
    }
    .information-tab .calendar-section1.calendar-sectioncls label {
        font-size: 11px;
    }
    .pcoded-content.newservices-disk1 .serviceadnewtsk .forservice .com-service.default label.check-task span {
        max-width: 100%;
        display: block;
        float: none;
        text-align: center;
        margin: 0;
    }
}

@media(max-width: 1280px) {
    .profile-bg-img .cover-btn {
        bottom: 0;
        right: 0;
        position: relative;
    }
}

@media(max-width: 767px) {
    .login_user .j-wrapper.j-wrapper-400 {
        padding: 30px 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .login_user form .j-content {
        padding: 15px 15px 0;
        background: #f9fafd;
    }
    .login_user {
        height: 100vh !important;
    }
    .login_user center {
        color: red;
        margin-top: 0;
        display: block;
        font-weight: 300;
        padding: 15px;
    }
    .director-folder_01 .directories li {
        word-break: break-all;
    }
}

@media(min-width:1680px) {
    .newalign-render .rendered-form .form-group {
        width: 25%;
    }
}


/*30-9-19*/

@media(max-width: 767px) {
    .navbar-wrapper .nav-left li {
        width: 100%;
    }
    .navbar-wrapper .nav-left li img {
        margin-right: 7px;
    }
    .all_user1.md-tabs .nav-item a {
        display: inline-block !important;
        width: initial;
    }
    .to-do-list span.f-right {
        width: 100%;
    }
    .mydisk-realign1 .card-block.proposal {
        margin-top: 15px;
    }
    .nav-left li a.drop_opens {
        background-image: url(../images/right-arrow.png);
        background-repeat: no-repeat;
        background-position: right center;
    }
    [id^=frmb-][id$='-form-wrap'] .btn-group>.btn {
        border-radius: 50px !important;
    }
    .deadline-crm1.floating_set {
        padding-bottom: 0;
    }
}

@media(max-width: 767px) {
    .pre-pro .fixed-div {
        right: 0;
        padding: 0;
        position: relative !important;
        width: 100%;
        text-align: center;
        margin-left: 0;
    }
    .pre-pro .fixed-div span.fixed-tx,
    .pre-pro .fixed-div .accpt-pro,
    .pre-pro .fixed-div span.fixed-tx {
        position: relative;
        float: left !important;
        margin: 0 !important;
        width: 100% !important;
    }
    .pcoded-content.card12.pre-pro a.qus-ans {
        margin: 0 !important;
    }
    .pre-pro .fixed-div .accpt-pro {
        margin: 15px 0 !important;
        text-align: center;
    }
    .pre-pro .fixed-div span.fixed-tx {
        float: none !important;
        width: initial !important;
    }
    .pcoded-content.card12.pre-pro a.qus-ans,
    .pcoded-content.card12.pre-pro a.qus-ans {
        float: none !important;
    }
    .display-data1,
    .accpt-pro {
        width: 100%;
        display: block;
        text-align: center;
        margin: 7px 0;
    }
    .fixed-tx1 {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
}


/*10-02-2020*/

@media(max-width: 767px) {
    .newproposal_lists {
        float: left;
        width: 100%;
    }
    .fed_tinybox #message_lists {
        width: 100%;
    }
    .else-msgcont.blockquote,
    .msg-content.blockquote {
        width: 100% !important;
    }
}