
.dash-tab-wrapper{
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    padding: 15px 20px;
    overflow: auto;
    height: 100%;
    margin: 10px 13px 25px;
}
.dash-tab-wrapper .dash-tabs{
    display: flex;
    /* justify-content: space-around; */
    margin-bottom: 20px;
}
.dash-tab-wrapper .dash-tabs .dash-tabs-top{
    border: 1px solid #ccc;
    max-width: 24%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
    padding:  0 0 5px 0;
    margin: 0 6px;
}
.dash-tab-wrapper .dash-tabs .dash-tabs-top .dash-tabs-title{
    display: flex;
    justify-content: space-between;
    /* max-width: 260px; */
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    align-items: center;
}
.dash-tab-wrapper .dash-tabs .dash-tabs-top .dash-tab-chart{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dash-tab-wrapper .dash-tabs .dash-tabs-top .dash-tab-chart .chart-data{
    display: flex;
    flex-direction: column;
}
.dash-tab-wrapper .dash-tabs .dash-tabs-top .dash-tab-chart:first-child .chart-data span{
    color: #ee1a21;
    font-size: 13px;
}
.dash-tab-wrapper .dash-tabs .dash-tabs-top .dash-tab-chart .dash-chart-inner-txt g text {
    font-size: 8px !important;
}
.dash-tab-wrapper .dash-tabs .dash-tabs-top:nth-child(2) .dash-tab-chart .dash-chart-inner-txt g text {
    font-size: 8px !important;
}
.dash-tab-wrapper .dash-tabs .dash-tabs-top .dash-tabs-title span{
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 10px;
}
/* .dash-tab-wrapper .dash-tabs .dash-tabs-top .dash-tab-chart .chart-data span{
    color: #ee1a21;
}
.dash-tab-wrapper .dash-tabs .dash-tabs-top:nth-child(2) .dash-tab-chart .chart-data span{
    color: #f5982d;
}
.dash-tab-wrapper .dash-tabs .dash-tabs-top:nth-child(3) .dash-tab-chart .chart-data span{
    color: #c143e9;
}
.dash-tab-wrapper .dash-tabs .dash-tabs-top:nth-child(4) .dash-tab-chart .chart-data span{
    color: #02b2f2;
} */
.dash-tab-wrapper .dash-tabs .dash-tabs-top span {
    font-size: 16px;
    font-weight: 600;
    user-select: none;
}

.dash-tab-wrapper .dash-chart-wrapper{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.dash-tab-wrapper .dash-chart-wrapper.service-overdue{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-direction: row-reverse;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1{
    max-width: 35%;
    width: 100%;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-upper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-upper .dash-timeline{
    border: 1px solid #ccc;
    max-width: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px 5px 0 0;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-upper .dash-timeline .timeline-logged{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-upper .dash-timeline span{
    text-transform: capitalize;
    font-weight: 600;
    margin-left: 10px;

}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-upper .dash-timeline g text{
    font-size: 8px !important;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-upper .dash-deadline{
    border: 1px solid #ccc;
    max-width: 42%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px 5px 0 0;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-upper .dash-deadline .deadline-logged{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-upper .dash-deadline span{
    text-transform: capitalize;
    font-weight: 600;
    margin-left: 5px;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-upper .dash-deadline g text{
    font-size: 8px !important;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-lower{
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-lower .dash-tabs-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-lower .dash-tabs-title span {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 10px;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-lower .dash-tab-chart {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-lower .dash-tab-chart .chart-7-outer{
    max-width: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-8-outer,
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-9-outer,
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-10-outer{
    max-width: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-11-outer,
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-12-outer,
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-13-outer{
    max-width: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-17-outer,
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-18-outer,
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-19-outer{
    max-width: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-20-outer,
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-21-outer,
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-22-outer{
    max-width: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-23-outer,
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-24-outer{
    max-width: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-lower .dash-tab-chart .chart-16-outer{
    max-width: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-lower .chart-data {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 100%;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-lower .chart-data div{
    display: flex;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-2{
    max-width: 63%;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-lower .dash-tab-chart g text{
    font-size: 8px !important;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-lower .dash-tab-chart .chart-data span {
    font-size: 12px;
    text-transform: capitalize;
    user-select: none;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-lower .dash-tab-chart .chart-data div span:first-child{
    max-width: 70%;
    width: 100%;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-lower .dash-tab-chart .chart-data div:first-child{
    font-weight: 600;
    font-size: 14px;
}
.dash-tab-wrapper .dash-accounts-wrapper{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top{
    border: 1px solid #ccc;
    max-width: 32%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
    padding:  0 0 5px 0;
    margin : 0 7px 10px;
}

.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tabs-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tabs-title span {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 10px;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top span {
    font-size: 16px;
    font-weight: 600;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-data {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 100%;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-data span{
    font-size: 12px;
    text-transform: capitalize;
    font-weight: normal;
    user-select: none;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-data div:first-child span{
    font-weight: 600;
    font-size: 14px;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-data div{
    display: flex;
    align-items: center;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-data div span:nth-child(2){
    max-width: 60%;
    width: 100%;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-data div span:first-child{
    width: 8px;
    height: 13px;
    border: 1px solid transparent;
    margin-right: 5px;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-data div:nth-child(2) span:first-child{
    width: 8px;
    height: 13px;
    border: 1px solid transparent;
    background-color: #ee1a21;
    margin-right: 5px;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-data div:nth-child(3) span:first-child{
    width: 8px;
    height: 13px;
    border: 1px solid transparent;
    background-color: gray;
    margin-right: 5px;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-data div:nth-child(4) span:first-child{
    width: 8px;
    height: 13px;
    border: 1px solid transparent;
    background-color: #ffc810;
    margin-right: 5px;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-data div:nth-child(5) span:first-child{
    width: 8px;
    height: 13px;
    border: 1px solid transparent;
    background-color: #a9cb40;
    margin-right: 5px;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart .chart-data div:nth-child(6) span:first-child{
    width: 8px;
    height: 13px;
    border: 1px solid transparent;
    background-color: green;
    margin-right: 5px;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top span {
    font-size: 16px;
    font-weight: 600;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tab-chart g text{
    font-size: 8px !important;
}

/* Select Css */
.dash-tab-wrapper .dash-tabs .dash-tabs-top .dash-tabs-title .dash-tasks,
.dash-tab-wrapper .dash-tabs .dash-tabs-top .dash-tabs-title .dash-not,
.dash-tab-wrapper .dash-tabs .dash-tabs-top .dash-tabs-title .dash-clients,
.dash-tab-wrapper .dash-tabs .dash-tabs-top .dash-tabs-title .dash-pros{
    width: 100px;
    padding: 5px 15px 5px 6px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    border: none;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-upper .dash-timeline .dash-time,
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-upper .dash-deadline .dash-dead{
    width: 96px;
    padding: 5px 15px 5px 6px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    border: none;
}
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-lower .dash-tabs-title .dash-acc{
    width: 100px;
    padding: 5px 15px 5px 6px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    border: none;
}
.dash-tab-wrapper .dash-chart-wrapper.service-overdue .dash-chart-wrapper-1 .dash-chart-upper .dash-timeline .dash-log,
.dash-tab-wrapper .dash-chart-wrapper.service-overdue .dash-chart-wrapper-1 .dash-chart-upper .dash-deadline .dash-dead-line{
    width: 96px;
    padding: 5px 15px 5px 6px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    border: none;
}
.dash-tab-wrapper .dash-chart-wrapper.service-overdue .dash-chart-wrapper-1 .dash-chart-lower .dash-tabs-title .dash-acc-over{
    width: 100px;
    padding: 5px 15px 5px 6px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    border: none;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tabs-title .dash-account,
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tabs-title .dash-confirm,
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tabs-title .dash-personal{
    width: 100px;
    padding: 5px 15px 5px 6px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    border: none;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tabs-title .dash-vat,
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tabs-title .dash-payroll,
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tabs-title .dash-place{
    width: 100px;
    padding: 5px 15px 5px 6px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    border: none;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tabs-title .dash-cis,
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tabs-title .dash-sub-cis,
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tabs-title .dash-book{
    width: 100px;
    padding: 5px 15px 5px 6px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    border: none;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tabs-title .dash-pd,
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tabs-title .dash-manage,
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tabs-title .dash-investigation{
    width: 100px;
    padding: 5px 15px 5px 6px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    border: none;
}
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tabs-title .dash-add,
.dash-tab-wrapper .dash-accounts-wrapper .dash-tabs-top .dash-tabs-title .dash-tax-investigation{
    width: 100px;
    padding: 5px 15px 5px 6px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    border: none;
}
.dash-tab-wrapper .dash-tabs .dash-tabs-top .dash-tabs-title .dash-tasks option,
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-upper .dash-deadline .dash-dead option,
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-upper .dash-timeline .dash-time option,
.dash-tab-wrapper .dash-chart-wrapper.service-overdue .dash-chart-wrapper-1 .dash-chart-upper .dash-timeline .dash-log option,
.dash-tab-wrapper .dash-chart-wrapper .dash-chart-wrapper-1 .dash-chart-lower .dash-tabs-title .dash-acc option,
.dash-tab-wrapper .dash-chart-wrapper.service-overdue .dash-chart-wrapper-1 .dash-chart-lower .dash-tabs-title .dash-acc-over option,
.dash-tab-wrapper .dash-chart-wrapper.service-overdue .dash-chart-wrapper-1 .dash-chart-upper .dash-deadline .dash-dead-line option,
.dash-tab-wrapper .dash-tabs .dash-tabs-top .dash-tabs-title .dash-clients option,
.dash-tab-wrapper .dash-tabs .dash-tabs-top .dash-tabs-title .dash-pros option{
    background: #fff;
    color: #8e8e8e !important;
}

/* Select css end */

