/*input {
width:100%;
margin-bottom:20px;
padding:5px;
height:30px;
box-shadow:1px 1px 12px gray;
border-radius:3px;
border:none
}*/
textarea {
width:100%;
height:80px;
margin-top:10px;
padding:5px;
/*box-shadow:1px 1px 12px gray;*/
border-radius:3px
}
#send {
/*width:100%;
height:45px;
margin-top:40px;
border-radius:3px;
background-color:#cd853f;
border:1px solid #fff;
color:#fff;
font-family:'Raleway',sans-serif;
font-size:18px;*/
	width: auto;
    height: auto;
    margin-top: 24px;
    border-radius: 3px;
    background-color: #0069d9;
    border: 1px solid #fff;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    display: inline-block;
    float: right;
    text-transform: uppercase;
    font-weight: 600;
    padding: 6px 15px;
    margin-left: 10px;
    font-weight: 600;

}
div#emailall{
text-align:center;
height:520px;
width:330px;
padding:20px 25px 20px 15px;
background-color:#f3f3f3;
border-radius:3px;
border:1px solid #cd853f;
font-family:'Raleway',sans-serif;
float:left
}
.container {
width:960px;
margin:40px auto
}


.popup {
width:100%;
height:100%;
display:none;
position:fixed;
top:0px;
left:0px;
z-index: 188888;
background:rgba(0,0,0,0.75);
}
/* Inner */
.popup-inner {
max-width:700px;
width:90%;
/*padding:40px;*/
position:absolute;
top:50%;
left:50%;
-webkit-transform:translate(-50%, -50%);
transform:translate(-50%, -50%);
box-shadow:0px 2px 6px rgba(0,0,0,1);
border-radius:3px;
background:#fff;
}
/* Close Button */
.popup-close {
width:30px;
height:30px;
padding-top:4px;
display:inline-block;
position:absolute;
top:30px;
right:30px;
transition:ease 0.25s all;
-webkit-transform:translate(50%, -50%);
transform:translate(50%, -50%);
border-radius:1000px;
background:#fff;
font-family:Arial, Sans-Serif;
font-size:18px;
text-align:center;
line-height:100%;
color:#000;
}
/*.popup-close:hover {
-webkit-transform:translate(50%, -50%) rotate(180deg);
transform:translate(50%, -50%) rotate(180deg);
background:rgba(0,0,0,1);
text-decoration:none;*/

.popup-inner .head {
       padding: 20px 20px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.popup-inner form
{
	    padding: 0 20px 30px;
}
.popup-inner .head h3 {
    font-size: 15px;
    font-weight: 600;
}
.popup-close:hover {
    color: #000;
}
.feedback-submit.text-right {
    margin-top: 15px;
}
.feed-submit a, .feed-submit input {
    font-weight: 600;
}
.feed-submit.text-left {
    float: right;
    width: auto;
    margin-left: 10px;
}
.feed-submit.text-right {
    width: auto;
}
.feedback-submit {
    text-align: right;
}
#EmailLogsFilter .jtable-filter-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}
#EmailLogsFilter .jtable-filter-form input, #EmailLogsFilter .jtable-filter-form select{
    width: 30%;
    margin-right: 10px;
}
#EmailLogsFilter .jtable-filter-form button{
    margin-right: 10px !important;
}