.mintScrollbar__container {
    /*position: relative;*/
    overflow: hidden;
}

.mintScrollbar__viewport {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.mintScrollbar {
    position: absolute;
    visibility: visible;
    overflow: hidden;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    opacity: 1;
    background: #ccc;
    background-color: rgba(0,0,0,.2);
}

.mintScrollbar__container:hover > .mintScrollbar,
.mintScrollbar__viewport:focus ~ .mintScrollbar,
.mintScrollbar__viewport--active ~ .mintScrollbar {
    visibility: visible;
    opacity: 1;
}

.mintScrollbar__thumb {
    position: absolute;
    background: #eee;
    background-color: rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
}

.mintScrollbar__thumb:hover {
    background: #777;
    background-color: rgba(0, 0, 0, .4);
}

.mintScrollbar__thumb:active {
    background: #666;
    background-color: rgba(0, 0, 0, .5);
}

.mintScrollbar__x {
    right: 3px;
    bottom: 3px;
    left: 3px;
    height: 6px;
    display: none;
}

.mintScrollbar__x__thumb {
    top: 0;
    left: 0;
    min-width: 20px;
    height: 100%;
}

.mintScrollbar__y {
    top: 3px;
    right: 3px;
    bottom: 3px;
    width: 6px;
    border-radius: 5px;
    
}

.mintScrollbar__y__thumb {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 20px;
}
