#default-Modal input#searchCompany {
    border-radius: 24px;
    padding: 14px 15px;
    border: 1px solid #e7e7e7;
}

.rdashboard .run-btn.f-right .btn.btn-danger {
    padding: 7px 10px !important;
    border-radius: 50%;
    width: 33px;
    background-color: #ed1c24;
}

.export_option ul button {
    margin: 0;
}

@media(max-width:767px) {
    .count-mydisk1 {
        width: 100%;
    }
    .top-leads.fr-task .junk-lead.color-junk2 {
        margin-bottom: 10px;
    }
    #myTemplate .inside-popup {
        text-align: left;
    }
    .all_user1.md-tabs .nav-item a {
        display: inline-block;
    }
    .disk-redesign1 {
        margin-top: 0;
    }
    .invoice-crm1 .junk-lead .lead-point1,
    .top-leads .lead-point1 {
        min-width: 180px;
    }
    .all_user1.md-tabs .nav-item a {
        display: inline-block;
    }
    .propose-template .create-proposal.pro-dash.newclscret {
        display: inline-block;
    }
    .deadline-crm1 li.nav-item {
        display: block;
        width: 100%;
    }
    .top-leads.fr-task .junk-lead.color-junk2 {
        width: initial;
    }
    .assign_delete button {
        margin: 4px;
    }
    .taskpagedashboard {
        padding-left: 0;
    }
    .filter-task1 li {
        padding: 6px 0;
    }
    #add_new_task .new_task-bts1 input,
    .new_task-bts1 input {
        width: initial;
        margin-bottom: 10px;
        vertical-align: top;
    }
    .public-bill01.adnewtsk {
        border-radius: 5px;
    }
    .days-left {
        padding: 0;
    }
    .attached-popup1 .form-group.attach-files.f-right {
        width: 100%;
        text-align: right;
        margin: 15px 0;
    }
    .attach-files.f-right span#preview_image_name {
        max-width: 100%;
        display: block;
        padding-left: 0;
        margin-top: 10px;
    }
    .nw-tsk.f-right input.btn.btn-succuess {
        margin-top: 0px !important;
    }
    .tasktop .media {
        display: initial;
    }
    .tasktop .media-body {
        width: 100%;
        flex: initial;
        margin-top: 15px;
    }
    .assign_delete button {
        margin: 3px;
    }
    .tasktop .card-footer select#status_task {
        margin: 10px 0;
        width: 100%;
    }
    .update-attach-hidden {
        margin-bottom: 15px;
    }
    .client_section .col-12.post,
    #update_new_task .updtask .col-xs-12.add_new_post04 {
        padding: 0;
    }
    .attach-files.update-attach-hidden .button {
        margin-bottom: 0;
    }
    .media-body .editPost {
        color: #00a2e8;
    }
    .common_form_section1 .create-btn input {
        width: initial;
    }
    .common-schedule-msg1 .left-cal {
        padding-left: 15px;
        padding-right: 15px;
    }
    #myModal .radio-inline,
    #myModal .border-checkbox-section .border-checkbox-group,
    #myModal .checkbox-color {
        display: inline-block;
        margin: 0;
    }
    .on-optin.radio-width01 {
        margin: 10px 0;
    }
    .common_form_section1 .checkbox-color input[type="checkbox"] {
        opacity: 0;
        padding: 0;
        line-height: 0;
        display: none;
    }
    .tsk-timeframe input,
    .tsk-timeframe select {
        width: 100%;
        margin: 5px 0;
    }
    .client_section .card .card-header h5 {
        margin-bottom: 10px;
    }
    .tasktime .cd-timeline-block .p-0 {
        position: relative;
        right: 0;
        top: 0;
    }
    .tasktime .cd-timeline-content {
        box-shadow: initial;
        border-radius: 0;
    }
    .top-leads .status_filter {
        padding: 0 10px;
    }
    div#dashboard .wrapper-lead-float.top-leads .junk-lead:first-child {
        padding-right: 0;
    }
    .sort-by.floating_set {
        position: relative;
    }
    .sort-by span {
        display: block;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .sort-by strong span {
        margin: 3px;
    }
    .lead-popupsection1 .lead-form1 {
        width: 100%;
        margin: 10px 0;
    }
    .lead-popupsection1 {
        padding-top: 10px;
    }
    .new-leadss .lead-popupsection2 .formgroup.zip-code-alert1 {
        min-height: initial;
    }
    .col-xs-12.col-sm-4.lead-form1 {
        padding-bottom: 0;
    }
    .lead-form1.add-form-space:first-child,
    .lead-form1.add-form-space:nth-child(2) {
        min-height: initial;
    }
    .sort-by.floating_set {
        right: 0;
    }
    .csv-sample01.spl12 {
        margin-top: 0;
    }
    .edit-pull-left li {
        margin: 4px;
    }
    .mark-lost1.floating_set .pull-left.edit-pull-left,
    .tab-content.lead_details .secone .new-proposal1.floating_set,
    .tab-content.lead_details .new-proposal1.floating_set {
        margin-top: 0;
        margin-bottom: 15px;
    }
    .leads-section .management_section {
        padding: 5px 0;
    }
    ul.nav.nav-tabs.all_user1.md-tabs.pull-left li.nav-item {
        min-height: initial;
    }
    ul.nav.nav-tabs.all_user1.md-tabs.pull-left li.nav-item {
        float: none;
    }
    ul.nav.nav-tabs.all_user1.md-tabs.pull-left.u-dashboard.don1.renewdesign {
        text-align: center;
    }
    .leads-seperateM:first-child {
        padding-left: 0;
        padding-right: 0;
    }
    .leads-seperateM .description-lead1 {
        padding: 0;
        margin: 15px 0;
    }
    .activity1.col-sm-12 {
        padding: 0;
    }
    .edit-pull-left .proposal-down li {
        margin: 0;
    }
    .mark-lost1 li>a.btn.btn-primary,
    .new-proposal1 .delete_proposal_records,
    .new-proposal1 a,
    .csv-sample01 a.btn.btn-primary,
    .mark-lost1 li button,
    .leads_section_data select,
    .new-proposal1.for_reminder_data select,
    .new-proposal1.for_reminder_data a {
        display: inline-block;
    }
    .proposal-table1.floating_set {
        overflow: auto;
    }
    .all_user-section2 .tab-content .tab-pane {
        padding: 0;
    }
    .for_attachment_data .custom_upload {
        width: 100%;
    }
    .data-quote-03 {
        width: 49%;
    }
    .lead-attachment-wrapper .col-md-10 {
        padding: 0;
    }
    .lead-attachment-wrapper a.text-danger,
    .box-width-quote1 .edit-timeline a {
        width: 19px;
        height: 19px;
    }
    .lead-attachment-wrapper a.text-danger i,
    .box-width-quote1 .edit-timeline a i {
        line-height: 20px;
        font-size: 12px;
    }
    .for_attachment_data_delete,
    .form-radio.col-md-7.pull-right {
        padding: 0;
    }
    .tab-content.lead_details .new-proposal1 a {
        margin-bottom: 5px;
    }
    .notes-list01 .form-radio,
    .notes-list01 .note_contact_date_cnt {
        padding: 0;
    }
    .box-width-quote1 .checkbox-profile1 {
        padding-right: 15px;
        width: 40%;
        margin-bottom: 11px;
    }
    .box-width-quote1 {
        padding: 7px 0;
        width: 100%;
        display: block;
    }
    #activity-log .col-sm-12 {
        padding: 0;
    }
    #activity-log .card-block {
        padding: 15px;
    }
    #activity-log .row.history.historynew {
        margin: 0;
        padding: 0;
    }
    .leads_popup .lead-popupsection1 .lead-form1 {
        padding: 0;
    }
    .leads_popup .tags-allow1 {
        padding-left: 0;
        padding-right: 0;
    }
    .leads_popup .lead-popupsection1 .formgroup.col-xs-12.col-sm-6,
    .service_view01.upload-file05 form {
        padding: 0;
    }
    .stage-wrap .prev-holder,
    .stage-wrap .field-label {
        width: 100% !important;
    }
    [id^=frmb-][id$='-form-wrap'] .frmb .field-actions .btn {
        width: 24px !important;
        height: 24px !important;
        line-height: 18px !important;
    }
    [id^=frmb-][id$='-form-wrap'] .frmb li:hover .field-actions {
        top: 41px !important;
    }
    .frmb-control li:before {
        font-size: 14px !important;
    }
    .frmb-control li span {
        display: block !important;
    }
    .divicls .form-group.row.name_fields {
        width: 100%;
    }
    .divicls .col-sm-2.dislaynpnecls {
        text-align: right;
        display: inline-block;
        width: initial;
        padding: 0;
    }
    .firmmytodoclsbottom a.delete_position {
        background-size: 11px 13px;
    }
    .firmmytodoclsbottom a.edit_position,
    .firmmytodoclsbottom a.delete_position {
        width: 23px;
        height: 23px;
    }
    .col-xl-6.col-sm-6.lf-mytodo {
        padding: 0;
    }
    .divicls label.col-sm-10.col-form-label {
        text-align: left;
        width: calc(100% - 40px);
        display: inline-block;
        vertical-align: top;
    }
    .lf-mytodo .to-do-list span {
        max-width: calc(100% - 60px);
        display: inline-block;
        vertical-align: top;
    }
    .field-name1 label,
    .field-type1 label,
    .field-type1 select,
    .field-name1 input,
    .firm-fields-div .panel-body input {
        width: 100%;
    }
    .firm-fields-div .save-can {
        margin-top: 7px;
    }
    .firm-fields-div .panel-body input[type="submit"] {
        width: initial;
    }
    .team-design01 .count-mydisk1 {
        padding: 8px 0;
    }
    input#search-criteria {
        width: 100%;
        margin-top: 8px;
    }
    .bottom-img .user-img {
        margin-bottom: 7px;
    }
    .step-bg01 {
        width: 100%;
        display: table;
    }
    .team-members .sep-div {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
}

@media(min-width: 768px) and (max-width:1023px) {
    .addlay .navbar-container.container-fluid .nav-left {
        max-width: 250px;
    }
}


/*@media(min-width: 768px) and (max-width: 1080px){
.pcoded-container .header-navbar .navbar-wrapper .navbar-logo {
    width: 100% !important;
}
.pcoded .pcoded-header[header-theme="theme1"] .navbar-logo a {
    color: #000;
}
.header-navbar .navbar-wrapper .navbar-logo .mobile-options {
    top: 2px;
}
.header-navbar .navbar-wrapper .navbar-logo .mobile-menu {
    border: 0px solid #000;
    padding: 0;
    font-size: 22px;
}
.header-navbar .navbar-wrapper .navbar-logo .mobile-menu {
    top: 0px;
}
}*/

@media(min-width:993px) and (max-width: 1080px) {
    .pcoded .header-navbar .navbar-wrapper .navbar-logo .mobile-menu,
    .header-navbar .navbar-wrapper .navbar-logo .mobile-options {
        display: none;
    }
    .header-navbar .navbar-container .nav-left,
    .header-navbar .navbar-wrapper .navbar-container .nav-right {
        display: block;
    }
    .bottom-img .user-details {
        display: inline-block;
    }
    .nav-left {
        max-width: calc(100% - 270px) !important;
    }
    .navbar-wrapper .nav-left li {
        padding-top: 4px;
    }
    ul#owl-demo1 li a {
        padding: 6px 0px 6px 0px;
    }
    .pcoded-main-container {
        margin-top: 75px !important;
    }
    .clientredesign .toolbar-table {
        max-width: calc(100% - 200px);
        text-align: left;
        width: initial;
    }
    div#alluser_length {
        margin-top: 0;
    }
    .clientredesign .filter-task1 ul {
        margin-top: 0;
    }
}

@media(min-width: 768px) and (max-width:1080px) {
    .renewdesign li a.nav-link.tap_click,
    .renewdesign li .tap_click {
        min-width: 120px;
    }
    .toolbar-table {
        padding-left: 0;
    }
    .clientredesign .filter-task1 ul {
        margin-top: 0;
    }
    .filter-task1 li {
        width: initial !important;
    }
    span.for-part {
        width: initial;
    }
    div#alluser_filter {
        width: initial;
    }
    ul.nav.nav-tabs.all_user1.md-tabs.pull-left.u-dashboard.don1.renewdesign {
        margin: 10px 0 10px;
    }
    .modal.fade .modal-dialog {
        transform: initial;
        margin: 30px auto;
    }
    .pull-right.new-client-btns-wrapper{
        max-width: 100% !important;
    }
    .Footer.common-clienttab.pull-right {
        max-width: 50%;
    }
    .common-clienttab a,
    .common-clienttab input,
    .common-clienttab button {
        margin-bottom: 10px;
    }
    .edit_right02 .Footer.common-clienttab.pull-right {
        max-width: initial;
    }
}

@media(min-width:768px) {
    .nav-left {
        width: 100% !important;
        max-width: calc(100% - 320px);
    }
    .header-navbar .navbar-wrapper .navbar-container .nav-right {
        max-width: 170px;
    }
}

@media(min-width:768px) and (max-width: 1023px) {
    .newupdate_design .columns-two .form-group,
    .update-data01 span.primary-inner {
        width: 49% !important;
    }
    #basic_details .management_accordion .form-group {
        width: 49%;
    }
    .radio-inline,
    .border-checkbox-section .border-checkbox-group,
    .checkbox-color {
        display: inline-block;
        vertical-align: top;
    }
    .update-data01 span.primary-inner .success {
        width: 100% !important;
    }
    .newmanage-animation .tab-pane .masonry-container,
    .flat-animation2 {
        -webkit-columns: 2;
        columns: 2;
    }
    #assignto .basic-border1 table {
        min-width: 450px;
    }
    .information-tab .three-animation {
        columns: 2;
    }
    #default-Modal .modal-dialog,
    #service_task_popup .modal-dialog,
    #new-lead .modal-dialog,
    #import-lead .modal-dialog {
        max-width: 700px;
    }
    .addlay .dropdown ul.dropdown-menu1 {
        position: unset;
        padding-top: 0 !important;
        padding-left: 0 !important;
    }
    .newupdate_design .col-sm-4.col-form-label,
    .companies-house-form span.primary-inner label {
        padding-left: 0;
    }
    .upload-step2 .col-sm-4 {
        width: 50%;
        flex: inherit;
        max-width: initial;
    }
    .invoice-crm1 .top-leads.fr-task .junk-lead.color-junk2 {
        max-width: initial;
    }
    .myDesk .top-leads.fr-task .junk-lead.color-junk2 {
        min-width: 160px;
    }
    .to-do-list {
        display: inline-block;
    }
    .count-mydisk1 {
        width: 33.3333%;
    }
    .myDesk .job-card .col-md-12.col-xl-4 {
        padding: 0px;
        width: 50%;
        padding: 0 15px;
    }
    .myDesk .invoice-crm1 .top-leads.fr-task .junk-lead.color-junk2 {
        width: initial !important;
    }
    #add_new_task .new_task-bts1 input,
    .new_task-bts1 input {
        width: initial;
        ;
        margin-bottom: 0;
    }
    form#add_new_task .col-sm-6 {
        max-width: 50%;
    }
    .space-equal-data,
    .attached-popup1 {
        padding: 0 15px !important;
    }
    .form-group button.btn-info {
        font-size: 12px;
        width: initial;
    }
    #add_new_task .checkbox-color,
    .radio-width01,
    .form-group.days-list.floating_set .label-column2 {
        width: initial;
    }
    form#add_new_task .new-tsk01 .col-sm-6 {
        max-width: 100%;
        width: 100%;
        flex: 100%;
    }
    .for_task_serach input#for_kan_search {
        min-width: initial;
    }
    .tasktop .card-footer span.txt-primary {
        display: inline-block;
    }
    .tsk-details1 .col-xl-8.col-lg-12.pull-xl-4 {
        width: 60%;
        padding-left: 15px;
    }
    .new-row-data1.width-junk {
        padding: 10px;
    }
    .page-body.task-d .row .col-xl-4.col-lg-12.push-xl-8.task-detail-right {
        width: 40%;
        padding-right: 15px;
    }
    .taskcommentcls .taskclsbutton {
        width: initial;
    }
    .modal#service_task_popup .form-group {
        width: 49%;
    }
    .top-leads.fr-task .junk-lead.color-junk2 {
        max-width: initial;
    }
    .sort-by.floating_set {
        position: relative;
    }
    .lead-summary3.floating_set.sortrec.table-responsive div#all_leads_filter {
        margin-right: 0;
    }
    .lead-popupsection1.floating_set.avoid-break01 {
        padding-top: 15px;
    }
    .dropdown-menu1 li:hover .dropdown-menu {
        display: block;
    }
    [id^=frmb-][id$='-form-wrap'] .stage-wrap {
        width: 70% !important;
    }
    .cb-wrap {
        width: 30% !important;
    }
    .require-validation .all_user-section .top {
        width: 100%;
    }
    .brtrcls ul.status-list li {
        width: initial;
    }
    input#datewise_filter1,
    input#datewise_filter {
        width: 120px !important;
        text-align: left;
    }
    .dt-buttons button {
        margin: 0;
    }
    .propose-template .create-proposal.pro-dash.newclscret,
    .proposalulcls li {
        width: initial !important;
    }
    .propose-template .all_user-section.floating_set.proposal-commontab .proposalulcls a.nav-link {
        margin: 5px 3px !important;
    }
    .document-center,
    .main-pane-border1,
    .accotax-litd {
        padding: 15px;
    }
    .cmn-tax-div {
        width: 100%;
        display: block;
        padding-top: 15px;
    }
    .tax-consul-new {
        width: initial;
    }
    .img-tax {
        width: 22%;
    }
    .tax-content {
        width: 76%;
    }
    .newmanage-animation .tab-pane .masonry-container,
    .flat-animation2 {
        -webkit-columns: 1;
        columns: 1;
    }
    /*.modal.fade .modal-dialog{
    max-width: 700px;
}*/
    #price_tab .discount-types .pricing-radio.add-price-cab {
        top: 56px;
    }
    .templaterealign1 ul.nav.nav-tabs.all_user1.md-tabs.floating_set.u-dashboard {
        width: 100%;
    }
    #edit_tab div#option-tabs {
        width: 100%;
        float: right;
        padding-left: 0;
        margin-bottom: 15px;
    }
    #edit_tab div#mail-template {
        width: 100%;
    }
    #EmailSignature .modal-dialog {
        max-width: 500px;
    }
    #finallize_tab .right-side-proposal {
        margin-top: 0;
    }
    div#option-tabs .get-options.choose.ui-draggable.ui-draggable-handle {
        width: initial;
        display: inline-block;
        vertical-align: top;
    }
    #price_tab .discount-types .pricing-radio.add-price-cab {
        top: 58px;
    }
    .tab-leftside {
        padding-right: 0;
        width: 100%;
    }
    .right-sidecontent {
        width: 100%;
    }
    .sub-categories1 ul li>a:first-child {
        padding-left: 10px !important;
    }
    .graybgclsnew ul.nav.nav-tabs.all_user1.md-tabs.floating_set.u-dashboard {
        margin-bottom: 10px;
    }
    .graybgclsnew .leftytemplate {
        padding-right: 0;
        width: 50% !important;
    }
    .right-sidecontenttemplate,
    .cnew_template .new-quote-01 .container-sidebar#option-tabs {
        width: 100% !important;
    }
    .new-quote-01 #mail-template {
        width: 100%;
        margin-top: 15px;
        padding: 0 7px;
    }
    div#option-tabs .get-options.choose.ui-draggable.ui-draggable-handle {
        width: initial;
        display: inline-block;
        vertical-align: top;
        margin: 3px !important;
        vertical-align: top;
    }
    .card.propose-template .count-value1.pull-right a {
        width: initial;
    }
    #myTemplate .inside-popup {
        width: 50%;
    }
    .deadline-block .payrolltax.floating.rev-op .cmn-inline-bg input,
    .deadline-block .payrolltax.floating.rev-op .cmn-inline-bg select {
        width: 160px;
        padding-top: 7px;
    }
    .report-redesign1 ul.status-list li {
        width: initial;
    }
    ul.status-list,
    .toolbar-table.f-right .year-status,
    .toolbar-table.f-right .year-status ul {
        display: block;
        vertical-align: top;
    }
    .toolbar-table.f-right .year-status ul {
        display: block;
        margin-top: 10px;
    }
    .report-redesign1 ul.status-list li {
        width: initial;
    }
    .fr-reports .tab-content .left-sireport .comment-desc .comment-btn {
        width: initial;
    }
    .reports-tabs .card-comment .card-block-small .comment-desc .btn-comment {
        min-width: initial !important;
    }
    .fr-reports #reports-tab .left-sireport .comment-desc {
        overflow: auto;
    }
    .for-reportdash .left-one {
        width: 100%;
        margin-right: 0;
    }
    .for-reportdash .right-one {
        width: 100%;
        margin-top: 15px;
    }
    .report-mymodal1 .label-column2 {
        width: initial;
        min-width: 130px;
    }
    .report-mymodal1 .checkbox-color {
        margin-right: 10px;
    }
    .report-mymodal1 .label-column2.groups_section {
        width: 86%;
    }
    ul.nav.nav-tabs.all_user1.md-tabs.pull-left.u-dashboard {
        float: left;
        width: initial;
    }
    .client_section.user-dashboard-section1 .comment-desc h6 span {
        width: calc(100% - 160px);
    }
    .toolbar-table.f-right.filter_awaiting .year-status li {
        padding: 0 2px;
        width: initial;
    }
    .time-date {
        width: initial;
    }
    .toolbar-table.f-right {
        width: 100%;
    }
    #container2 .btn.btn-default.box-item.box_section.ui-draggable.ui-draggable-handle.insearch_section {
        display: inline-block;
        width: initial !important;
    }
}


/*28 feb 2017*/

@media(min-width: 768px) and (max-width: 1023px) {
    .team-members .sep-div {
        width: 50%;
    }
    .permission_staff label.col-sm-4.col-form-label {
        text-align: left;
    }
    .role_design1 .form-group {
        max-width: 433px;
        margin: 0;
    }
    .bottom-img .user-details {
        display: inline-block;
    }
    .new-task-teams .form-group.col-sm-6 {
        width: 50%;
        flex: 50%;
        max-width: 50%;
    }
    .current-assignmembers label,
    .update-tm .form-group.col-xs-12 {
        text-align: left;
    }
    .addrolecls .price-tb-setting {
        width: 100%;
    }
    .revenue-task.row.revenue-tasknew {
        position: relative;
        top: 0;
        width: 100%;
        right: 0;
        padding: 0 15px;
        margin-bottom: 15px;
    }
    .btn-group .btn,
    .cd-timeline-content button,
    .cd-timeline-content button:hover,
    .cd-timeline-content button:focus {
        text-align: left;
    }
    .ui-tabs .ui-tabs-nav li {
        margin: 2px 3px;
    }
}

@media(min-width: 1024px) and (max-width: 1199px) {
    .header-navbar .navbar-wrapper .navbar-logo {
        height: 42px;
    }
    .pcoded .pcoded-header[header-theme="theme1"] .navbar-logo a {
        margin-top: 2px;
    }
    .dropdown:hover .dropdown-menu1 {
        top: 40px;
    }
    .navbar-wrapper .nav-left li {
        padding-top: 8px;
    }
    .pull-right.new-client-btns-wrapper{
        max-width: 100% !important;
    }
    .Footer.common-clienttab.pull-right {
        max-width: 60%;
    }
    .clientredesign .toolbar-table {
        max-width: 100%;
    }
    ul.nav.nav-tabs.all_user1.md-tabs.pull-left.u-dashboard.don1.renewdesign a.nav-link.active {
        text-align: left;
    }
    .btn-group .btn,
    .cd-timeline-content button,
    .cd-timeline-content button:hover,
    .cd-timeline-content button:focus {
        text-align: left;
    }
    .ui-tabs .ui-tabs-nav li {
        margin: 2px 3px;
    }
    .cmn-invoice-approve {
        width: 48%
    }
    .repeat-invoice .invoice-top span.invoice-topinner {
        min-height: initial;
    }
}


/*mar1 19*/

@media(max-width: 767px) {
    .menumanaicon {
        margin-top: 0;
    }
    .menumanagementtopcls .dropdownallmenu.incEdit .dropdown.hierarchy-select {
        max-width: 100%;
        padding-right: 0;
    }
    .ActionButtons {
        margin-top: 8px;
        text-align: right;
        display: block;
    }
}

@media(min-width: 1600px) {
    .newupdate_design .columns-two .form-group,
    .update-data01 span.primary-inner,
    .new-row-data1.width-junk,
    .update-data01 .form-group.row {
        width: 24%;
    }
    /*#contactList2 li {
    width: 24%;
}*/
    .staffcustomcls .col-sm-6.space-equal-data {
        width: 33.333%;
        max-width: initial;
        flex: initial;
        vertical-align: top;
    }
    .staffcustomcls .field_wrapper {
        width: 66.666%;
    }
    .time-date {
        width: initial;
    }
    .staffcustomcls .field_wrapper .col-sm-6.space-equal-data {
        width: 50%;
    }
    .calendar-sectioncls .form-group {
        width: 19%;
    }
}

@media(min-width: 768px) {
    .left-side-proposal .remove-spacing-9 .accordion-panel:first-child {
        padding-left: 0;
    }
    .left-side-proposal .remove-spacing-9 .accordion-panel:last-child {
        padding-right: 0;
    }
}

@media(max-width: 1800px) {
    .f4reports.rdashboard .toolbar-table.f-right.filter_awaiting {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .pcoded-content.push-left {
        margin-left: 0 !important;
        width: 100% !important;
    }
}

@media(max-width: 767px) {
    span.for-part,
    .clientredesign .filter-task1 a.s-box {
        display: inline-block;
        width: initial;
    }
    .clientredesign .dataTables_wrapper .filter-task1 input {
        width: 150px !important;
    }
    .new_update1 span.h4 {
        display: block;
    }
    .top-leads.fr-task .tsk-animation1 .junk-lead.color-junk2 {
        float: none;
    }
    .new-row-data1.width-junk {
        width: 100%;
    }
    div#lead_dashboard {
        width: 100%;
    }
    .top-leads.fr-task .lead-data1.pull-right {
        text-align: center;
    }
    .top-leads.fr-task .junk-lead.color-junk2 {
        float: none;
    }
    .update-attach-hidden {
        word-break: break-all;
    }
    .newservices-disk1 .forservice .inside-step .checkbox-fade.fade-in-primary,
    .step-pagination1 .inside-step .checkbox-fade.fade-in-primary {
        max-width: calc(100% - 80px);
        padding: 7px 10px;
    }
    .newservices-disk1 .inside-step .dropdown_con ul,
    .step-pagination1 .inside-step .dropdown_con ul {
        max-width: 100%;
        margin: 0;
    }
    .newservices-disk1 .inside-step .dropdown_con li,
    .step-pagination1 .inside-step .dropdown_con li {
        width: 100%;
    }
    .btn-add-task button#basic-addon1 {
        display: inline-block;
        width: initial;
    }
    input#search-criteria {
        width: 220px;
        margin-top: 0;
    }
    .proposal-commontab .card-header .f-right input#search-criteria {
        width: 100%;
        margin-top: 10px;
    }
    .deadline-crm1 .pull-left {
        width: 100%;
        text-align: center;
    }
    .leads_popup .formgroup {
        padding: 0;
    }
    .new-leadss .formgroup.checkbox-select1.col-sm-12.border-checkbox-section {
        padding-left: 0;
    }
    td.no-recfound:after {
        left: 30%;
    }
    .addnew_task_lead1.modal .space-equal-data,
    .addnew_task_lead1.modal .attached-popup1 {
        padding: 15px !important;
    }
    .addnew_task_lead1.modal .attached-popup1 .form-group {
        width: 100%;
        float: left;
        max-width: 100%;
    }
    span.popup-check {
        display: block;
        width: 100%;
        float: left;
    }
    li.column-setting0:hover .hide-dropdown01 {
        display: block;
    }
    .frmb-control li span {
        display: inline-block !important;
        width: initial;
    }
    .propose-template .create-proposal.pro-dash.newclscret a {
        width: initial;
        margin: 0px;
        display: inline-block;
    }
    ul.status-list li {
        display: inline-block;
        min-width: 120px;
        width: initial;
    }
    .newclscret a.btn {
        width: initial;
    }
    .annual-lefts.pull-left {
        margin-bottom: 15px;
    }
    .graybgclsnew .cnew_template.edit-opt .inner-div a {
        width: initial;
    }
    .tools.tools-left.in {
        max-width: 90%;
    }
    .card.propose-template .count-value1.pull-right a {
        width: initial;
        min-width: 200px;
        margin: 5px 0;
    }
    #myTemplate .inside-popup {
        width: 100%;
    }
    .tax-consul-new a {
        width: initial;
    }
    .service-table.flat-animation2 .services-des {
        width: 100%;
        float: left;
        display: block;
        padding: 0;
        margin: 0;
        overflow: initial;
        margin: 20px 0;
    }
    .head-services,
    field-add01 {
        min-width: 750px;
    }
    .price-tb-setting,
    .service-newdesign1 {
        box-shadow: initial;
    }
    .pull-right.mark-right-optional a {
        width: initial;
        min-width: 140px;
    }
    .services-des.grand-services1 .pull-right.send-to.grand-discount,
    .services-des.grand-services1 .pull-left.grand-total {
        width: 50% !important;
    }
    .services-des.grand-services1 .pull-left.grand-total,
    .services-des.grand-services1 .pull-right.send-to.grand-discount {
        width: 50%;
        text-align: right;
        padding: 7px;
        border-right: none;
        width: 50% !important;
    }
    .bottom-field-heads .send-to a {
        margin-bottom: 15px;
    }
    .update-qual1 {
        margin: 5px 0;
    }
    .service-table.flat-animation2 {
        white-space: normal;
    }
    .services-des.grand-services1 .pull-left.grand-total,
    .services-des.grand-services1 .pull-right.send-to.grand-discount {
        width: 100% !important;
    }
    .inner-views {
        margin-top: 0;
    }
    .service-table a {
        width: initial;
    }
    .service-newdesign1 {
        padding-bottom: 15px;
        overflow: auto;
    }
    #discount_details input {
        width: 100%;
    }
    #select-category .nav-tabs .nav-link {
        text-align: left;
    }
    #EmailSignature .sigWrapper {
        overflow: auto;
    }
    .permiss_stafflist .role_design1 label.col-sm-3.col-form-label {
        text-align: left;
        margin: 6px 0 10px;
    }
    .pcoded-wrapper .priceli .document-center.client-infom-1.floating_set.pricelist {
        padding: 15px;
    }
    .edit-tempsect .newemailset {
        margin-top: 10px;
    }
    .pcoded-content.newservices-disk1 .serviceadnewtsk .forservice label.check-task,
    .pcoded-content.newservices-disk1 .serviceadnewtsk .forservice .com-service.default label.check-task span {
        text-align: left;
    }
    .pcoded-content.newservices-disk1 .serviceadnewtsk .forservice .com-service.default label.check-task span.task-title-sp {
        margin-bottom: 10px;
    }
    .update-dept01 {
        text-align: left;
    }
    .user-detail .col-sm-5 h6 {
        font-weight: 600;
        margin-bottom: 8px;
    }
    .remind-dueday {
        position: relative;
        top: 10px;
        right: 0;
    }
    .reminder_content.remind-cis .deadline-crm1.floating_set {
        position: relative;
    }
    .addcustom-reminder .send-label:last-child {
        padding-left: 0;
    }
    .addcustom-reminder .send-label:first-child {
        padding-right: 0;
    }
    .addcustom-reminder .send-label,
    .addcustom-reminder .send-label {
        display: block;
        vertical-align: top;
        width: 100%;
        margin-bottom: 0;
    }
    .top-leads .junk-lead strong {
        z-index: 3;
    }
    .firm-fields-div .panel-body select,
    .firm-fields-div .panel-body textarea {
        width: 100%;
    }
    .firm-fields-div .panel-body label {
        margin-bottom: 7px;
        margin-top: 7px;
    }
    #pcoded div#import-task .upload_input09,
    #pcoded div#import-task .form-group,
    #pcoded div#import-task div#frame_projects,
    #pcoded div#import-task div#base_projects {
        width: 100% !important;
    }
    .button_visibility .dt-buttons button {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
}

@media(min-width: 768px) and (max-width: 1023px) {
    .modal.fade .modal-dialog {
        max-width: 700px !important;
    }
    .new-row-data1.width-junk {
        width: 50%;
    }
    .button_visibility .dt-buttons button {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
}


/*04-05-2019 start*/

@media(max-width: 767px) {
    .colvis_icon li,
    .button_visibility .dt-button-collection .dt-button {
        width: 50%;
    }
    .colvis_icon {
        padding: 15px;
    }
    .management_section .tab-pane .accordion-msg {
        padding: 15px;
    }
    .modal.fade .modal-dialog {
        left: 15px;
        right: 15px;
    }
    ul#owl-demo1 .dropdown-menu1 li a {
        line-height: 20px;
        padding: 7px 0 !important;
    }
    .columsettingcls .deadline-crm1 {
        margin-top: -20px;
    }
    .top-disk01 {
        max-width: 100%;
        display: block;
        vertical-align: top;
    }
}


/*01-10-19*/

@media(max-width: 767px) {
    li.user-profile.header-notification {
        margin-top: 0;
    }
    ul#owl-demo1 li a {
        text-align: left;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        margin-top: 8px;
    }
    .dataTables_wrapper {
        overflow: initial;
    }
    div#import-task .pcoded-content,
    div#import-task .panel.panel-default.card.import-tsk1 {
        padding: 10px 0px 0;
    }
    .new-row-data1.width-junk {
        display: block;
    }
    .for_task_serach input#for_kan_search {
        margin-bottom: 11px;
    }
    .button_visibility div.dt-button-collection.columnVisibility_List {
        max-width: 85%;
    }
    .new-row-data1.width-junk {
        padding: 0;
        margin: 20px 0;
    }
    .we_lead_cls a.nav-link.form_builder {
        margin: 7px 0;
    }
    .new-formbuilder1 [id^=frmb-][id$='-form-wrap'] .frmb .field-actions {
        top: 8px;
    }
    .margin-bt1 {
        margin-bottom: 0;
    }
    button#proposal_delete_items {
        width: initial;
    }
    .tools .control-label,
    .tools .col-sm-8 {
        width: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .cmn-tax-div,
    .price-tb-setting .dropdown.hierarchy-select,
    .price-tb-setting .line-items1 {
        width: 100%;
        display: block;
    }
    .price-newrealigne #price_tab .discount-types .pricing-radio.add-price-cab {
        position: relative;
    }
    div#test {
        margin-top: 15px;
    }
    .tax-consul-new,
    .discount-types .pricing-radio label {
        margin-bottom: 9px;
    }
    .tax-content {
        width: 78%;
    }
    select#tax_details {
        width: 100%;
    }
}