.pay_by_card.card_pay {
  background-color: #fff;
  margin-top: 11px;
  padding: 20px 0px;
}

.pay_by_card.card_pay * {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.pay_by_card.card_pay .row {
  display: -ms-flexbox;
  display: flex;
  margin: 0 5px 10px;
}

.pay_by_card.card_pay .field {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0 10px;
}

.pay_by_card.card_pay .field.half-width {
  width: 44%;
}

.pay_by_card.card_pay .field.quarter-width {
  width: calc(25% - 10px);
}

.pay_by_card.card_pay .baseline {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #cfd7df;
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pay_by_card.card_pay label {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 8px;
  color: #cfd7df;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform-origin: 0 50%;
  cursor: text;
  transition-property: color, transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pay_by_card.card_pay .input {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-bottom: 7px;
  color: #32325d;
  background-color: transparent;
}

.pay_by_card.card_pay .input::-webkit-input-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pay_by_card.card_pay .input::-moz-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pay_by_card.card_pay .input:-ms-input-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pay_by_card.card_pay .input.StripeElement {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: opacity;
}

.pay_by_card.card_pay .input.focused,
.pay_by_card.card_pay .input:not(.empty) {
  opacity: 1;
}

.pay_by_card.card_pay .input.focused::-webkit-input-placeholder,
.pay_by_card.card_pay .input:not(.empty)::-webkit-input-placeholder {
  color: #cfd7df;
}

.pay_by_card.card_pay .input.focused::-moz-placeholder,
.pay_by_card.card_pay .input:not(.empty)::-moz-placeholder {
  color: #cfd7df;
}

.pay_by_card.card_pay .input.focused:-ms-input-placeholder,
.pay_by_card.card_pay .input:not(.empty):-ms-input-placeholder {
  color: #cfd7df;
}

.pay_by_card.card_pay .input.focused + label,
.pay_by_card.card_pay .input:not(.empty) + label {
  color: #aab7c4;
  transform: scale(0.85) translateY(-25px);
  cursor: default;
}

.pay_by_card.card_pay .input.focused + label {
  color: #349fcf;
}

.pay_by_card.card_pay .input.invalid + label {
  color: #ffa27b;
}

.pay_by_card.card_pay .input.focused + label + .baseline {
  background-color: #349fcf;
}

.pay_by_card.card_pay .input.focused.invalid + label + .baseline {
  background-color: #e25950;
}

.pay_by_card.card_pay input, .pay_by_card.card_pay button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.pay_by_card.card_pay input:-webkit-autofill {
  -webkit-text-fill-color: #e39f48;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.pay_by_card.card_pay .StripeElement--webkit-autofill {
  background: transparent !important;
}

.pay_by_card.card_pay input, .pay_by_card.card_pay button {
  -webkit-animation: 1ms void-animation-out;
}

.pay_by_card.card_pay button {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #f542e3 !important;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.pay_by_card.card_pay .error svg {
  margin-top: 0 !important;
}

.pay_by_card.card_pay .error svg .base {
  fill: #e25950;
}

.pay_by_card.card_pay .error svg .glyph {
  fill: #fff;
}

.pay_by_card.card_pay .error .message {
  color: #e25950;
}

.pay_by_card.card_pay .success .icon .border {
  stroke: #abe9d2;
}

.pay_by_card.card_pay .success .icon .checkmark {
  stroke: #24b47e;
}

.pay_by_card.card_pay .success .title {
  color: #32325d;
  font-size: 16px !important;
}

.pay_by_card.card_pay .success .message {
  color: #8898aa;
  font-size: 13px !important;
}

.pay_by_card.card_pay .success .reset path {
  fill: #24b47e;
}

.pay_by_card.card_pay .error {
  display: none;
}

.pay_by_card.card_pay .error.visible {
  display: block;
}


/*Payment page css : 20-07-2019*/
  .payment-form_cls {
     margin-top: 5px;
  }
  /*.payment-form_cls button {
     border: none;
     color: #fff;
     padding: 4px 35px;
     font-size: 20px;
     margin-top: 24px;
     display: block;
     width: 100%;
     background: #656de9 !important;
  }*/
  .payment-form_cls #card-element {
     background: #e8e8e8;
     padding: 9px;
     color: #fff !important;
     border-radius: 5px;
  }
  .payment_container {
     text-align: center;
     width: 370px;
     margin:20px auto 30px;
     float: none;
  }
  .about_blog_inner {
     text-align: left;
     background: #f3f3f3;
     padding: 10px;
     border-radius: 7px;
  }
  .payment-form_cls .form-row label{
     text-align: left;
  }
  .about_blog_inner h4 {
     margin: 0;
     font-size: 16px;
     line-height: 30px;
  }
  #card-errors {
    color: #ff0000;
  }

  .about_blog_inner {
    margin-bottom: 15px;
  }

  .google_payment {
    display: none;
  }

  @media only screen and (max-width: 400px){
    .payment_container {
       width: 290px;
    }
  }

  @media (max-width: 767px){
    .innerpage_start .about_blog {
        overflow-x: auto;

    }
  }