@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,800');

/*font-family: 'Open Sans', sans-serif;*/
body{
	font-family: 'Open Sans', sans-serif;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}
input,button,button:hover,button:focus{
    outline: none;
}
ul {
    margin-bottom: 0;
    padding-right: 0;
}

li {
    list-style: none;
}
.login_row {
    background: #444e5d;
    position: relative;
    height: 100vh;
}
.superadmin {
    position: absolute;
    max-width: 400px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
}
.login_sections{
	background: #fff;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 30px;
}
.login_sections .input-group:hover {
    border: 1px solid #4680ff;
    border-radius: 4px;
}
.login_logo{
    padding-bottom: 15px;
}
.login_row .input-group .form-control {
    padding: 10px 15px;
    height: initial;
    margin: 0;
    background: #f2f4f8;
    border-right: 0px;
}
.superadmin .form-group {
    margin: 25px 0;
}
.superadmin .form-group:first-child{
    margin-top: 0;
}
.superadmin span.input-group-addon {
    background: #f2f4f8;
    border: 1px solid #ccc;
    border-radius: 0px 4px 4px 0px;
}
.superadmin button[type="submit"] {
    background-color: transparent;
    color: #4680ff;
    border: 1px solid #4680ff !important;
    border-radius: 4px;
    font-weight: 600;
    text-transform: uppercase;
    min-width: 100px;
    outline: none;
    font-size: 15px;
}
.superadmin button[type="submit"]:hover{
    background-color: #4680ff;
    color: #fff;
}
.forget_admin a,.forget_admin a:hover {
    font-size: 14px;
    text-decoration: none;
    padding: 0;
    font-weight: 500;
    text-transform: capitalize;
    color: #dbdbdb;
    display: inline-block;
}
.forget_admin {
	margin-top: 20px;
}
.superadmin .form-group:last-child{
	margin-bottom: 0;
}
.super_adminlogo{
	margin-bottom: 20px;
	text-align: center;
}
label.error {
    color: red;
    font-weight: 400;
    margin-top: 7px;
    margin-bottom: 0;
}