/*! Invoice Templates @author: Invoicebus @email: info@invoicebus.com @web: https://invoicebus.com @version: 1.0.0 @updated: 2015-02-27 16:02:34 @license: Invoicebus */
/* Reset styles */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic,cyrillic-ext,latin,greek-ext,greek,latin-ext,vietnamese");
html #temp_invoice_modern, body #temp_invoice_modern,#temp_invoice_modern div,#temp_invoice_modern span,#temp_invoice_modern applet,#temp_invoice_modern object,#temp_invoice_modern iframe,
#temp_invoice_modern h1,#temp_invoice_modern h2,#temp_invoice_modern h3,#temp_invoice_modern h4,#temp_invoice_modern h5,#temp_invoice_modern h6,#temp_invoice_modern p,#temp_invoice_modern blockquote,#temp_invoice_modern pre,
#temp_invoice_modern a,#temp_invoice_modern abbr,#temp_invoice_modern acronym,#temp_invoice_modern address,#temp_invoice_modern big,#temp_invoice_modern cite,#temp_invoice_modern code,
#temp_invoice_modern del,#temp_invoice_modern dfn,#temp_invoice_modern em,#temp_invoice_modern img,#temp_invoice_modern ins,#temp_invoice_modern kbd,#temp_invoice_modern q,#temp_invoice_modern s,#temp_invoice_modern samp,
#temp_invoice_modern small,#temp_invoice_modern strike,#temp_invoice_modern strong,#temp_invoice_modern sub,#temp_invoice_modern sup,#temp_invoice_modern tt,#temp_invoice_modern var,
#temp_invoice_modern b,#temp_invoice_modern u,#temp_invoice_modern i,#temp_invoice_modern center,
#temp_invoice_modern dl,#temp_invoice_modern dt,#temp_invoice_modern dd,#temp_invoice_modern ol,#temp_invoice_modern ul,#temp_invoice_modern li,
#temp_invoice_modern fieldset,#temp_invoice_modern form,#temp_invoice_modern label,#temp_invoice_modern legend,
#temp_invoice_modern table,#temp_invoice_modern caption,#temp_invoice_modern tbody,#temp_invoice_modern tfoot,#temp_invoice_modern thead,#temp_invoice_modern tr,#temp_invoice_modern th,#temp_invoice_modern td,
#temp_invoice_modern article,#temp_invoice_modern aside,#temp_invoice_modern canvas,#temp_invoice_modern details,#temp_invoice_modern embed,
#temp_invoice_modern figure,#temp_invoice_modern figcaption,#temp_invoice_modern footer,#temp_invoice_modern header,#temp_invoice_modern hgroup,
#temp_invoice_modern menu,#temp_invoice_modern nav,#temp_invoice_modern output,#temp_invoice_modern ruby,#temp_invoice_modern section,#temp_invoice_modern summary,
#temp_invoice_modern time,#temp_invoice_modern mark,#temp_invoice_modern audio,#temp_invoice_modern video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html #temp_invoice_modern{
  line-height: 1;
}

#temp_invoice_modern ol,#temp_invoice_modern ul {
  list-style: none;
}

#temp_invoice_modern table {
  border-collapse: collapse;
  border-spacing: 0;
}

#temp_invoice_modern caption,#temp_invoice_modern th,#temp_invoice_modern td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

#temp_invoice_modern q,#temp_invoice_modern blockquote {
  quotes: none;
}
#temp_invoice_modern q:before,#temp_invoice_modern q:after,#temp_invoice_modern blockquote:before,#temp_invoice_modern blockquote:after {
  content: "";
  content: none;
}

#temp_invoice_modern a img {
  border: none;
}

#temp_invoice_modern article,#temp_invoice_modern aside,#temp_invoice_modern details,#temp_invoice_modern figcaption,#temp_invoice_modern figure,#temp_invoice_modern footer,#temp_invoice_modern header,#temp_invoice_modern hgroup,#temp_invoice_modern main,#temp_invoice_modern menu,#temp_invoice_modern nav,#temp_invoice_modern section,#temp_invoice_modern summary {
  display: block;
}

/* Invoice styles */
/**
 * DON'T override any styles for the <html> and <body> tags, as this may break the layout.
 * Instead wrap everything in one main <div id="container"> element where you may change
 * something like the font or the background of the invoice
 */
html, body {
  /* MOVE ALONG, NOTHING TO CHANGE HERE! */
}

/** 
 * IMPORTANT NOTICE: DON'T USE '!important' otherwise this may lead to broken print layout.
 * Some browsers may require '!important' in oder to work properly but be careful with it.
 */
#temp_invoice_modern .clearfix {
  display: block;
  clear: both;
}

#temp_invoice_modern .hidden {
  display: none;
}

#temp_invoice_modern b,#temp_invoice_modern strong,#temp_invoice_modern .bold {
  font-weight: bold;
}

#temp_invoice_modern #container {
  font: normal 13px/1.4em 'Open Sans', Sans-serif;
  margin: 0 auto;
  min-height: 1158px;
  background: #F7EDEB url("../img/bg.png") 0 0 no-repeat;
  background-size: 100% auto;
  color: #5B6165;
  position: relative;
}

#temp_invoice_modern #memo {
  padding-top: 50px;
  margin: 0 110px 0 60px;
  border-bottom: 1px solid #ddd;
  height: 115px;
}
#temp_invoice_modern #memo .logo {
  float: left;
  margin-right: 20px;
}
#temp_invoice_modern #memo .logo img {
  width: 150px;
  height: 100px;
}
#temp_invoice_modern #memo .company-info {
  float: right;
  text-align: right;
}
#temp_invoice_modern #memo .company-info > div:first-child {
  line-height: 1em;
  font-weight: bold;
  font-size: 22px;
  color: #B32C39;
}
#temp_invoice_modern #memo .company-info span {
  font-size: 11px;
  display: inline-block;
  min-width: 20px;
}
#temp_invoice_modern #memo:after {
  content: '';
  display: block;
  clear: both;
}

#temp_invoice_modern #invoice-title-number {
  font-weight: bold;
  margin: 30px 0;
}
#temp_invoice_modern #invoice-title-number span {
  line-height: 0.88em;
  display: inline-block;
  min-width: 20px;
}
#temp_invoice_modern #invoice-title-number #title {
  text-transform: uppercase;
  padding: 0px 2px 0px 60px;
  font-size: 50px;
  background: #F4846F;
  color: white;
}
#temp_invoice_modern #invoice-title-number #number {
  margin-left: 10px;
  font-size: 35px;
  position: relative;
  top: -5px;
}

#temp_invoice_modern #client-info {
  float: left;
  margin-left: 60px;
  min-width: 220px;
}
#temp_invoice_modern #client-info > div {
  margin-bottom: 3px;
  min-width: 20px;
}
#temp_invoice_modern #client-info span {
  display: block;
  min-width: 20px;
}
#temp_invoice_modern #client-info > span {
  text-transform: uppercase;
}

#temp_invoice_modern table {
  table-layout: fixed;
}
#temp_invoice_modern table th,#temp_invoice_modern table td {
  vertical-align: top;
  word-break: keep-all;
  word-wrap: break-word;
}

#temp_invoice_modern #items {
  margin: 35px 30px 0 30px;
}
#temp_invoice_modern #items .first-cell,#temp_invoice_modern #items table th:first-child,#temp_invoice_modern #items table td:first-child {
  width: 40px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: right;
}
#temp_invoice_modern #items table {
  border-collapse: separate;
  width: 100%;
}
#temp_invoice_modern #items table th {
  font-weight: bold;
  padding: 5px 8px;
  text-align: right;
  background: #B32C39;
  color: white;
  text-transform: uppercase;
}
#temp_invoice_modern #items table th:nth-child(2) {
  width: 30%;
  text-align: left;
}
#temp_invoice_modern #items table th:last-child {
  text-align: right;
}
#temp_invoice_modern #items table td {
  padding: 9px 8px;
  text-align: right;
  border-bottom: 1px solid #ddd;
}
#temp_invoice_modern #items table td:nth-child(2) {
  text-align: left;
}

#temp_invoice_modern #sums {
  margin: 25px 30px 0 0;
  background: url("../img/total-stripe-firebrick.png") right bottom no-repeat;
}
#temp_invoice_modern #sums table {
  float: right;
}
#temp_invoice_modern #sums table tr th, #sums table tr td {
  min-width: 100px;
  padding: 9px 8px;
  text-align: right;
}
#temp_invoice_modern #sums table tr th {
  font-weight: bold;
  text-align: left;
  padding-right: 35px;
}
#temp_invoice_modern #sums table tr td.last {
  min-width: 0 !important;
  max-width: 0 !important;
  width: 0 !important;
  padding: 0 !important;
  border: none !important;
}
#temp_invoice_modern #sums table tr.amount-total th {
  text-transform: uppercase;
}
#temp_invoice_modern #sums table tr.amount-total th, #temp_invoice_modern #sums table tr.amount-total td {
  font-size: 15px;
  font-weight: bold;
}
#temp_invoice_modern #sums table tr:last-child th {
  text-transform: uppercase;
}
#temp_invoice_modern #sums table tr:last-child th, #temp_invoice_modern #sums table tr:last-child td {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

#temp_invoice_modern #invoice-info {
  float: left;
  margin: 50px 40px 0 60px;
}
#temp_invoice_modern #invoice-info > div > span {
  display: inline-block;
  min-width: 20px;
  min-height: 18px;
  margin-bottom: 3px;
}
#temp_invoice_modern #invoice-info > div > span:first-child {
  color: black;
}
#temp_invoice_modern #invoice-info > div > span:last-child {
  color: #aaa;
}
#temp_invoice_modern #invoice-info:after {
  content: '';
  display: block;
  clear: both;
}

#temp_invoice_modern #terms {
  float: left;
  margin-top: 50px;
}
#temp_invoice_modern #terms .notes {
  min-height: 30px;
  min-width: 50px;
  color: #B32C39;
}
#temp_invoice_modern #terms .payment-info div {
  margin-bottom: 3px;
  min-width: 20px;
}

#temp_invoice_modern .thank-you {
  margin: 10px 0 30px 0;
  display: inline-block;
  min-width: 20px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 0.88em;
  float: right;
  padding: 0px 30px 0px 2px;
  font-size: 50px;
  background: #F4846F;
  color: white;
}

#temp_invoice_modern .ib_bottom_row_commands {
  margin-left: 30px !important;
}

/**
 * If the printed invoice is not looking as expected you may tune up
 * the print styles (you can use !important to override styles)
 */
@media print {
  /* Here goes your print styles */
}
