
/* 
Created on: 17 Sep, 2014, 4:29:37 PM
Author: senthil
*/



.ti_tx, .mi_tx, .mer_tx {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    /* background: #00a2e8; */
    /* padding-bottom: 9px; */
    /* padding-top: 7px; */
}

.time, .mins, .meridian {
    width: 60px;
    float: left;
    margin: 7px;
    font-size: 20px;
    color: #2d2e2e;
    font-family: arial;
    font-weight: 700;
}


.prev, .next {
    cursor: pointer;
    padding: 0;
    width: 13px;
    border: 1px solid #ccc;
    margin: auto;
    background: url(../images/arrow.png) no-repeat;
    border: none;
    border-radius: 5px;
    height: 13px;
    vertical-align: top;
    background-size: cover;
    background-repeat: no-repeat;
}
 
.next {
	background-position: 50% 150%;
}

.prev {
	background-position: 50% -50%;
}

.time_pick {
	position: relative;
}


.timepicker_wrap {
    padding: 4px;
    border-radius: 5px;
    z-index: 998;
    display: none;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
    border: 1px solid #ccc;
    float: left;
    position: absolute;
    top: 27px;
    left: 0;
    background: #fff;
}

.arrow_top {
	position: absolute;
	top: -10px;
	left: 20px;
	background: url(../images/top_arr.png) no-repeat;
	width: 18px;
	height: 10px;
	z-index: 999;
}


input.timepicki-input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    float: none;
    margin: 0;
    text-align: center;
    width: 70%;
    border: none;
    padding: 0;
    width: 40px;
    font-family: "Open Sans", sans-serif;
    height: 40px;
    font-size: 14px;
    border-radius: 25px;
    font-weight: 600;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.25);
}
.next {
    background-position: bottom center;
}
a.reset_time {
	float: left;
	margin-top: 5px;
	color: #000;
}




.prev {
    background-position: top center;
}

/*.new-task .form-group .time_pick input {
    height: 40px;
    width: 40px;
}*/