div.jtable-main-container>div.jtable-title,
div.jtable-main-container>div.jtable-bottom-panel,
th.jtable-column-header,
th.jtable-command-column-header {
    background-color: #333333!important;
    border-color: #333333!important;
}
div.jtable-main-container>table.jtable{
    border-color: #333333!important;
}
div.jtable-busy-message,
div.jtable-main-container>div.jtable-bottom-panel .jtable-page-list .jtable-page-number, div.jtable-main-container>div.jtable-bottom-panel .jtable-page-list .jtable-page-number-space, div.jtable-main-container>div.jtable-bottom-panel .jtable-page-list .jtable-page-number-first, div.jtable-main-container>div.jtable-bottom-panel .jtable-page-list .jtable-page-number-last, div.jtable-main-container>div.jtable-bottom-panel .jtable-page-list .jtable-page-number-previous, div.jtable-main-container>div.jtable-bottom-panel .jtable-page-list .jtable-page-number-next, div.jtable-main-container>div.jtable-bottom-panel .jtable-page-list .jtable-page-number-active
{
    background-color: #888888!important;
}
div.jtable-busy-message{
    background-image: none!important;
}
.modal-dialog {
    min-width: 820px;
}
span.smtpmessage {
    width: 175px;
    display: inline-block;
    max-height: 80px;
    overflow-y: auto;
}

span.smtpmessage,
span.smtpmessage * {
    font-size: 10px;
    line-height: 1.4;
    background: none;
    padding: 0!important;
    margin: 0!important;
    display: inline-block;
    word-break: break-all;
}

a.view-mail-body {
    text-align: center;
    display: block;
    font-weight: bold;
    text-decoration: underline;
}
span.smtpmessage br {
    display: none;
}    

div#email_body_content>div>table {
    margin: auto;
}
div.jtable-main-container>table.jtable>tbody>tr.jtable-data-row>td {
    line-height: 1.4;
}

span.jtable-goto-page option,
span.jtable-page-size-change option {
    color: #333;
}    
a.resend-email {
    display: block;
    text-align: center;
}