#customers {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

#customers td, #customers th {
border: 1px solid #ddd;
padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #00a2e8;
color: white;
}

/*
CSS for the main interaction
*/
.tabset > input[type="radio"] {
position: absolute;
left: -200vw;
}

.tabset .tab-panel {
display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
display: block;
}

/*
Styling
*/
body {
font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
color: #333;
font-weight: 300;
}

.tabset > label {
position: relative;
display: inline-block;
padding: 15px 15px 25px;
border: 1px solid transparent;
border-bottom: 0;
cursor: pointer;
font-weight: 600;
}

.tabset > label::after {
content: "";
position: absolute;
left: 15px;
bottom: 10px;
width: 22px;
height: 4px;
background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
background: #06c;
}

.tabset > input:checked + label {
border-color: #ccc;
border-bottom: 1px solid #fff;
margin-bottom: -1px;
}

.tab-panel {
padding: 30px 0;
border-top: 1px solid #ccc;
}

/*
Demo purposes only
*/
*,
*:before,
*:after {
box-sizing: border-box;
}

body {
padding: 30px;
}

.tabset {
max-width: 65em;
}

.analytics-card{
border-style: groove;
}

.page-body.rem-tasks {
    padding: 20px;
}

.analytics-card {
    width: 25%;
    text-align: center;
    background: #eee;
    margin: 1%;
    padding: 10px;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child, .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2), .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3), .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4), .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5), .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pcoded-content.push-left {
    height: 100vh;
}

.analytics-card > div:nth-child(1) {
    text-align: left;
    font-weight: 600;
    margin-bottom: 5%;
}

.analytics-card > div:nth-child(3) {
    text-align: right;
    font-weight: 600;
    margin-top: 15%;
}

.active-member{
    background-color: #307bbb;
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-size: 11px;
}

/*i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw {
    position: absolute;
    margin: 20% 50% 15%;
}*/
.team-loader{
    position: absolute;
    margin: 20% 50% 15%;
}