.tgl-opt{
    width: 120px;
    display: flex;
    flex-direction: column;
    right: 20px;
    top:35px;
    /* padding: 10px; */
    /* padding: 10px 10px 15px; */
    font-size: 13px;
    font-weight: 500 !important;
    text-align: left;
    /* text-transform: uppercase; */
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 3%) 0px 0px 1px 2px, rgb(0 0 0 / 2%) 0px -2px 1px -2px, rgb(0 0 0 / 3%) 0px 0px 0px -1px;
    position: absolute;
    /* transform: translateY(30px); */
    float: left;
 }
 
 .tgl-opt .atleta {
    padding : 10px;
 }

 .tgl-opt .atleta > a {
    font-weight: 600 !important;
 }
 
 ul li.atleta:hover {
    background-color: #F5F5F5;
 }