<blockquote class="block" ondblclick="blockquote_editable()"><h2><b>Click here to change content.</b><h2></blockquote>

<script type="text/javascript">
function blockquote_editable(){
	$(".block").attr('contenteditable','true');
}
</script>