<table width="100%" border="0" cellpadding="15" align="center" id="dd-body-background" data-bkg-color="#e1e1e1" data-height="auto" style="width:100%" nobr="true">
    <tr>
        <td align="center" id="dd-body-container" style="width:100%;" width="100%" valign="top">
            <br><br>
            <center id="proposal_contents_details">
                <table class="propdf" style="background-color:#ffffff; width:600px;padding-left:20px" vspace="0" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                    <thead>
                        <tr>
                            <td id="dd-head" style="vertical-align:top;"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="dd-body" style="vertical-align:top;">                         


                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td id="dd-footer" style="vertical-align:top;"></td>
                        </tr>
                    </tfoot>
                </table>
            </center>
        	<br><br>
        </td>
    </tr>
</table>