@media(max-width:767px){
.count-mydisk1{
	width: 100%;
}
.top-leads.fr-task .junk-lead.color-junk2{
	margin-bottom: 10px;
}
.all_user1.md-tabs .nav-item a{
	display: inline-block;
}
.disk-redesign1{
	margin-top: 0;
}
.invoice-crm1 .junk-lead .lead-point1,.top-leads .lead-point1{
	min-width: 180px;
}
.all_user1.md-tabs .nav-item a{
	display: inline-block;
}
.deadline-crm1 li.nav-item{
	display: block;
	width: 100%;
}
.top-leads.fr-task .junk-lead.color-junk2{
	width: initial;
}
.assign_delete button{
	margin: 4px;
}
.taskpagedashboard {
    padding-left: 0;
}
.filter-task1 li{
	padding: 6px 0;
}
#add_new_task .new_task-bts1 input, .new_task-bts1 input {
    width: initial;
    margin-bottom: 10px;
    vertical-align: top;
}
.public-bill01.adnewtsk {
    border-radius: 5px;
}
.days-left{
	padding: 0;
}
.attached-popup1 .form-group.attach-files.f-right {
    width: 100%;
    text-align: right;
    margin: 15px 0;
}
.attach-files.f-right span#preview_image_name {
    max-width: 100%;
    display: block;
    padding-left: 0;
    margin-top: 10px;
}
.nw-tsk.f-right input.btn.btn-succuess {
    margin-top: 0px !important;
}
.tasktop .media {
    display: initial;
}
.tasktop .media-body {
    width: 100%;
    flex: initial;
    margin-top: 15px;
}
.assign_delete button{
    margin:3px;
}
.tasktop .card-footer select#status_task {
    margin: 10px 0;
    width: 100%;
}
.update-attach-hidden{
	margin-bottom: 15px;
}
.client_section .col-12.post ,#update_new_task .updtask .col-xs-12.add_new_post04{
    padding: 0;
}
.attach-files.update-attach-hidden .button{
	margin-bottom: 0;
}
.media-body .editPost {
    color: #00a2e8;
}
.common_form_section1 .create-btn input{
	width: initial;
}

.common-schedule-msg1 .left-cal {
    padding-left: 15px;
    padding-right: 15px;
}

#myModal .radio-inline, #myModal .border-checkbox-section .border-checkbox-group,#myModal .checkbox-color {
    display: inline-block;
    margin: 0;
}
.on-optin.radio-width01 {
    margin: 10px 0;
}

.common_form_section1 .checkbox-color input[type="checkbox"] {
    opacity: 0;
    padding: 0;
    line-height: 0;
    display: none;
}
.tsk-timeframe input, .tsk-timeframe select {
    width: 100%;
    margin: 5px 0;
}
.client_section .card .card-header h5{
	margin-bottom: 10px;
}
.tasktime .cd-timeline-block .p-0 {
    position: relative;
    right: 0;
    top: 0;
}
.tasktime .cd-timeline-content {
    box-shadow: initial;
    border-radius: 0;
}
.top-leads .status_filter{
	padding: 0 10px;
}
}